<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Job Application</h1>
    <p>User with name <%= @current_user.firstname %> <%= @current_user.lastname %> has applied for <%= @job_title %></p>
	<p>Thanks</p>
  </body>
</html>