<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone want's to contact to you. Details are below</h1>
    <p>Name : <%= @contactname %></p>
    <p>Email : <%= @contactemail %></p>
    <p>Subject : <%= @contactsubject %></p>
    <p>Message : <%= @contactmessage %></p>
	<p>Thanks</p>
  </body>
</html>