
<div id="myApp2" ng-app="AllPost" ng-controller="allPostCtrl" >
<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-md-12 header-search paddinB10 paddinT10">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  Download Details Content -->
<section class="clearfix downloaddetailwrap">
  <div class="container">
    <h2>DOWNLOADS</h2>
    <div class="downloadtxt">Get inspiration for your next digital masterpiece or discover <span class="hidden-xs"> professional 3D models for your project by browsing through our 3D model categories. Whether you're looking for a high-quality architectural 3D models or need a realistic 3D human character, we have a leading digital art library for all your needs. Click to discover!</span></div>
    <h3 class="text-uppercase">Popular Tags</h3>
    <ul>
      <li><a href="#">Free</a></li>
      <li><a href="#">Printable</a></li>
      <li><a href="#">Animated</a></li>
      <li><a href="#">Rigged</a></li>
      <li><a href="#">Low-poly</a></li>
      <li><a href="#">Cartoon</a></li>
      <li><a href="#">3Ds</a></li>
      <li><a href="#">MAX</a></li>
      <li><a href="#">C4D</a></li>
      <li><a href="#">OBJ</a></li>
    </ul>
  </div>
</section>

<!-- Download Indent Start -->
<section class="clearfix downloadpageindent">
  <div class="container">
    <div ng-repeat="data in all_DownloadsData" class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <img src="{{data.image.tutorial_list.url}}" class="img-responsive" alt="img">
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="/downloads/{{data.slug}}" ng-bind="data.type_name"></a> </div>
            <div class="downloads-txt" ng-bind="data.description">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li ng-repeat="cat in data.post_type_categories"><a href="#">{{cat.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
</div>
<script type="text/javascript">
  var app = angular.module('AllPost', ['angularUtils.directives.dirPagination']);
   app.controller('allPostCtrl',function($scope,$http,$location){
   
   var uRI = "/downloads/get_post_type_list";
     $http.get(uRI).then(function (response) {
      
        $scope.all_DownloadsData =  response.data;
        });
  });
      angular.bootstrap(document.getElementById("myApp2"), ['AllPost']);
</script>