<div class="container login-page">
	<h2 class="text-center">Forgot Your Password?</h2>
	<div id="login-popup">
		<div class="modal-dialog">
			<div class="modal-header"><h4 class="modal-title">Forgot Your Password?</h4></div>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: 'forgot_password_form', name: 'forgot_password_form', 'novalidate' => true }) do |f| %>
				    <div class="row">
				      	<div class="col-md-12 col-sm-12 col-xs-12 marginB15 txt16 lightcolor">Enter your email address and we'll send you password reset instructions!</div>
				      	<div class="col-md-12 col-sm-12 col-xs-12">
				        	<div class="form-group">
				          		<label for="email">Your Email</label>
				          		<%= f.email_field :email, placeholder: "Enter Email Address*", required: true, autofocus: true, class: 'form-control' %>
	
              					<span class="err-msg marginT10">
              						<%= error_message(resource, :email)%>
              					</span>
				        	</div>
				      	</div>
				      	<div class="col-md-12 col-sm-12 col-xs-12">
				        	<%= f.submit "Reset Password", class: "lightbtn txt16" %>
				      	</div>
				    </div>
<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a data-toggle="modal" href="#login-popup"><span class="blue-txt txt15 "></span> Return to sign in</a>
	</div>
</div>
