<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<style>
    .gridListdemoDynamicTiles md-icon {
        width: 50%;
        height: 30%;
    }

    .gridListdemoDynamicTiles md-icon svg {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .gridListdemoDynamicTiles .s64 {
        font-size: 64px;
    }

    .gridListdemoDynamicTiles .s32 {
        font-size: 48px;
    }

    .gridListdemoDynamicTiles md-icon.fa {
        display: block;
        padding-left: 0;
    }

    .gridListdemoDynamicTiles md-icon.s32 span {
        padding-left: 8px;
    }

    .gridListdemoDynamicTiles md-grid-list {
        margin: 8px;
    }

    .gridListdemoDynamicTiles .gray {
        background: #f5f5f5;
    }

    .gridListdemoDynamicTiles .green {
        background: #b9f6ca;
    }

    .gridListdemoDynamicTiles .yellow {
        background: #ffff8d;
    }

    .gridListdemoDynamicTiles .blue {
        background: #84ffff;
    }

    .gridListdemoDynamicTiles .darkBlue {
        background: #80d8ff;
    }

    .gridListdemoDynamicTiles .deepBlue {
        background: #448aff;
    }

    .gridListdemoDynamicTiles .purple {
        background: #b388ff;
    }

    .gridListdemoDynamicTiles .lightPurple {
        background: #8c9eff;
    }

    .gridListdemoDynamicTiles .red {
        background: #ff8a80;
    }

    .gridListdemoDynamicTiles .pink {
        background: #ff80ab;
    }

    .gridListdemoDynamicTiles md-grid-tile {
        transition: all 300ms ease-out 50ms;
    }

    .gridListdemoDynamicTiles md-grid-tile md-icon {
        padding-bottom: 32px;
    }

    .gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
        background: rgba(0, 0, 0, 0.68);
        height: 36px;
    }

    .gridListdemoDynamicTiles md-grid-tile-footer figcaption {
        width: 100%;
    }

    .gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
        margin: 0;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }
</style>

<div id="myApp2" ng-app="myApp">
    <div ng-controller="gridListDemoCtrl as vm" flex ng-cloak>
        <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="10" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px"
            md-gutter-gt-sm="4px">

            <md-grid-tile ng-repeat="tile in vm.tiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-sm="1"
                md-colspan-xs="1" ng-class="tile.background">
                <img src="{{tile.image}}" layout-fill>

            </md-grid-tile>
        </md-grid-list>
    </div>
</div>

<script language="javascript">
    var Data = [{
            "albumId": 1,
            "id": 1,
            "title": "accusamus beatae ad facilis cum similique qui sunt",
            "url": "http://placehold.it/600/92c952",
            "thumbnailUrl": "http://placehold.it/150/92c952"
        },
        {
            "albumId": 1,
            "id": 2,
            "title": "reprehenderit est deserunt velit ipsam",
            "url": "http://placehold.it/600/771796",
            "thumbnailUrl": "http://placehold.it/150/771796"
        },
        {
            "albumId": 1,
            "id": 3,
            "title": "officia porro iure quia iusto qui ipsa ut modi",
            "url": "http://placehold.it/600/24f355",
            "thumbnailUrl": "http://placehold.it/150/24f355"
        },
        {
            "albumId": 1,
            "id": 4,
            "title": "culpa odio esse rerum omnis laboriosam voluptate repudiandae",
            "url": "http://placehold.it/600/d32776",
            "thumbnailUrl": "http://placehold.it/150/d32776"
        },
        {
            "albumId": 1,
            "id": 5,
            "title": "natus nisi omnis corporis facere molestiae rerum in",
            "url": "http://placehold.it/600/f66b97",
            "thumbnailUrl": "http://placehold.it/150/f66b97"
        },
        {
            "albumId": 1,
            "id": 6,
            "title": "accusamus ea aliquid et amet sequi nemo",
            "url": "http://placehold.it/600/56a8c2",
            "thumbnailUrl": "http://placehold.it/150/56a8c2"
        },
        {
            "albumId": 1,
            "id": 7,
            "title": "officia delectus consequatur vero aut veniam explicabo molestias",
            "url": "http://placehold.it/600/b0f7cc",
            "thumbnailUrl": "http://placehold.it/150/b0f7cc"
        },
        {
            "albumId": 1,
            "id": 8,
            "title": "aut porro officiis laborum odit ea laudantium corporis",
            "url": "http://placehold.it/600/54176f",
            "thumbnailUrl": "http://placehold.it/150/54176f"
        },
        {
            "albumId": 1,
            "id": 9,
            "title": "qui eius qui autem sed",
            "url": "http://placehold.it/600/51aa97",
            "thumbnailUrl": "http://placehold.it/150/51aa97"
        },
        {
            "albumId": 1,
            "id": 10,
            "title": "beatae et provident et ut vel",
            "url": "http://placehold.it/600/810b14",
            "thumbnailUrl": "http://placehold.it/150/810b14"
        },
        {
            "albumId": 1,
            "id": 11,
            "title": "nihil at amet non hic quia qui",
            "url": "http://placehold.it/600/1ee8a4",
            "thumbnailUrl": "http://placehold.it/150/1ee8a4"
        },
        {
            "albumId": 1,
            "id": 12,
            "title": "mollitia soluta ut rerum eos aliquam consequatur perspiciatis maiores",
            "url": "http://placehold.it/600/66b7d2",
            "thumbnailUrl": "http://placehold.it/150/66b7d2"
        },
        {
            "albumId": 1,
            "id": 13,
            "title": "repudiandae iusto deleniti rerum",
            "url": "http://placehold.it/600/197d29",
            "thumbnailUrl": "http://placehold.it/150/197d29"
        },
        {
            "albumId": 1,
            "id": 14,
            "title": "est necessitatibus architecto ut laborum",
            "url": "http://placehold.it/600/61a65",
            "thumbnailUrl": "http://placehold.it/150/61a65"
        },
        {
            "albumId": 1,
            "id": 15,
            "title": "harum dicta similique quis dolore earum ex qui",
            "url": "http://placehold.it/600/f9cee5",
            "thumbnailUrl": "http://placehold.it/150/f9cee5"
        },
        {
            "albumId": 1,
            "id": 16,
            "title": "iusto sunt nobis quasi veritatis quas expedita voluptatum deserunt",
            "url": "http://placehold.it/600/fdf73e",
            "thumbnailUrl": "http://placehold.it/150/fdf73e"
        },
        {
            "albumId": 1,
            "id": 17,
            "title": "natus doloribus necessitatibus ipsa",
            "url": "http://placehold.it/600/9c184f",
            "thumbnailUrl": "http://placehold.it/150/9c184f"
        },
        {
            "albumId": 1,
            "id": 18,
            "title": "laboriosam odit nam necessitatibus et illum dolores reiciendis",
            "url": "http://placehold.it/600/1fe46f",
            "thumbnailUrl": "http://placehold.it/150/1fe46f"
        },
        {
            "albumId": 1,
            "id": 19,
            "title": "perferendis nesciunt eveniet et optio a",
            "url": "http://placehold.it/600/56acb2",
            "thumbnailUrl": "http://placehold.it/150/56acb2"
        },
        {
            "albumId": 1,
            "id": 20,
            "title": "assumenda voluptatem laboriosam enim consequatur veniam placeat reiciendis error",
            "url": "http://placehold.it/600/8985dc",
            "thumbnailUrl": "http://placehold.it/150/8985dc"
        },
        {
            "albumId": 1,
            "id": 21,
            "title": "ad et natus qui",
            "url": "http://placehold.it/600/5e12c6",
            "thumbnailUrl": "http://placehold.it/150/5e12c6"
        },
        {
            "albumId": 1,
            "id": 22,
            "title": "et ea illo et sit voluptas animi blanditiis porro",
            "url": "http://placehold.it/600/45601a",
            "thumbnailUrl": "http://placehold.it/150/45601a"
        },
        {
            "albumId": 1,
            "id": 23,
            "title": "harum velit vero totam",
            "url": "http://placehold.it/600/e924e6",
            "thumbnailUrl": "http://placehold.it/150/e924e6"
        },
        {
            "albumId": 1,
            "id": 24,
            "title": "beatae officiis ut aut",
            "url": "http://placehold.it/600/8f209a",
            "thumbnailUrl": "http://placehold.it/150/8f209a"
        },
        {
            "albumId": 1,
            "id": 25,
            "title": "facere non quis fuga fugit vitae",
            "url": "http://placehold.it/600/5e3a73",
            "thumbnailUrl": "http://placehold.it/150/5e3a73"
        },
        {
            "albumId": 1,
            "id": 26,
            "title": "asperiores nobis voluptate qui",
            "url": "http://placehold.it/600/474645",
            "thumbnailUrl": "http://placehold.it/150/474645"
        },
        {
            "albumId": 1,
            "id": 27,
            "title": "sit asperiores est quos quis nisi veniam error",
            "url": "http://placehold.it/600/c984bf",
            "thumbnailUrl": "http://placehold.it/150/c984bf"
        },
        {
            "albumId": 1,
            "id": 28,
            "title": "non neque eligendi molestiae repudiandae illum voluptatem qui aut",
            "url": "http://placehold.it/600/392537",
            "thumbnailUrl": "http://placehold.it/150/392537"
        },
        {
            "albumId": 1,
            "id": 29,
            "title": "aut ipsam quos ab placeat omnis",
            "url": "http://placehold.it/600/602b9e",
            "thumbnailUrl": "http://placehold.it/150/602b9e"
        },
        {
            "albumId": 1,
            "id": 30,
            "title": "odio enim voluptatem quidem aut nihil illum",
            "url": "http://placehold.it/600/372c93",
            "thumbnailUrl": "http://placehold.it/150/372c93"
        },
        {
            "albumId": 1,
            "id": 31,
            "title": "voluptate voluptates sequi",
            "url": "http://placehold.it/600/a7c272",
            "thumbnailUrl": "http://placehold.it/150/a7c272"
        },
        {
            "albumId": 1,
            "id": 32,
            "title": "ad enim dignissimos voluptatem similique",
            "url": "http://placehold.it/600/c70a4d",
            "thumbnailUrl": "http://placehold.it/150/c70a4d"
        },
        {
            "albumId": 1,
            "id": 33,
            "title": "culpa ipsam nobis qui fuga magni et mollitia",
            "url": "http://placehold.it/600/501fe1",
            "thumbnailUrl": "http://placehold.it/150/501fe1"
        },
        {
            "albumId": 1,
            "id": 34,
            "title": "vitae est facere quia itaque adipisci perferendis id maiores",
            "url": "http://placehold.it/600/35185e",
            "thumbnailUrl": "http://placehold.it/150/35185e"
        },
        {
            "albumId": 1,
            "id": 35,
            "title": "tenetur minus voluptatum et",
            "url": "http://placehold.it/600/c96cad",
            "thumbnailUrl": "http://placehold.it/150/c96cad"
        },
        {
            "albumId": 1,
            "id": 36,
            "title": "expedita rerum eaque",
            "url": "http://placehold.it/600/4d564d",
            "thumbnailUrl": "http://placehold.it/150/4d564d"
        },
        {
            "albumId": 1,
            "id": 37,
            "title": "totam voluptas iusto deserunt dolores",
            "url": "http://placehold.it/600/ea51da",
            "thumbnailUrl": "http://placehold.it/150/ea51da"
        },
        {
            "albumId": 1,
            "id": 38,
            "title": "natus magnam iure rerum pariatur molestias dolore nisi",
            "url": "http://placehold.it/600/4f5b8d",
            "thumbnailUrl": "http://placehold.it/150/4f5b8d"
        },
        {
            "albumId": 1,
            "id": 39,
            "title": "molestiae nam ullam et rerum doloribus",
            "url": "http://placehold.it/600/1e71a2",
            "thumbnailUrl": "http://placehold.it/150/1e71a2"
        },
        {
            "albumId": 1,
            "id": 40,
            "title": "est quas voluptates dignissimos sint praesentium nisi recusandae",
            "url": "http://placehold.it/600/3a0b95",
            "thumbnailUrl": "http://placehold.it/150/3a0b95"
        },
        {
            "albumId": 1,
            "id": 41,
            "title": "in voluptatem doloremque cum atque architecto deleniti",
            "url": "http://placehold.it/600/659403",
            "thumbnailUrl": "http://placehold.it/150/659403"
        },
        {
            "albumId": 1,
            "id": 42,
            "title": "voluptatibus a autem molestias voluptas architecto culpa",
            "url": "http://placehold.it/600/ca50ac",
            "thumbnailUrl": "http://placehold.it/150/ca50ac"
        },
        {
            "albumId": 1,
            "id": 43,
            "title": "eius hic autem ad beatae voluptas",
            "url": "http://placehold.it/600/6ad437",
            "thumbnailUrl": "http://placehold.it/150/6ad437"
        },
        {
            "albumId": 1,
            "id": 44,
            "title": "neque eum provident et inventore sed ipsam dignissimos quo",
            "url": "http://placehold.it/600/29fe9f",
            "thumbnailUrl": "http://placehold.it/150/29fe9f"
        },
        {
            "albumId": 1,
            "id": 45,
            "title": "praesentium fugit quis aut voluptatum commodi dolore corrupti",
            "url": "http://placehold.it/600/c4084a",
            "thumbnailUrl": "http://placehold.it/150/c4084a"
        },
        {
            "albumId": 1,
            "id": 46,
            "title": "quidem maiores in quia fugit dolore explicabo occaecati",
            "url": "http://placehold.it/600/e9b68",
            "thumbnailUrl": "http://placehold.it/150/e9b68"
        },
        {
            "albumId": 1,
            "id": 47,
            "title": "et soluta est",
            "url": "http://placehold.it/600/b4412f",
            "thumbnailUrl": "http://placehold.it/150/b4412f"
        },
        {
            "albumId": 1,
            "id": 48,
            "title": "ut esse id",
            "url": "http://placehold.it/600/68e0a8",
            "thumbnailUrl": "http://placehold.it/150/68e0a8"
        },
        {
            "albumId": 1,
            "id": 49,
            "title": "quasi quae est modi quis quam in impedit",
            "url": "http://placehold.it/600/2cd88b",
            "thumbnailUrl": "http://placehold.it/150/2cd88b"
        },
        {
            "albumId": 1,
            "id": 50,
            "title": "et inventore quae ut tempore eius voluptatum",
            "url": "http://placehold.it/600/9e59da",
            "thumbnailUrl": "http://placehold.it/150/9e59da"
        },
        {
            "albumId": 2,
            "id": 51,
            "title": "non sunt voluptatem placeat consequuntur rem incidunt",
            "url": "http://placehold.it/600/8e973b",
            "thumbnailUrl": "http://placehold.it/150/8e973b"
        },
        {
            "albumId": 2,
            "id": 52,
            "title": "eveniet pariatur quia nobis reiciendis laboriosam ea",
            "url": "http://placehold.it/600/121fa4",
            "thumbnailUrl": "http://placehold.it/150/121fa4"
        },
        {
            "albumId": 2,
            "id": 53,
            "title": "soluta et harum aliquid officiis ab omnis consequatur",
            "url": "http://placehold.it/600/6efc5f",
            "thumbnailUrl": "http://placehold.it/150/6efc5f"
        },
        {
            "albumId": 2,
            "id": 54,
            "title": "ut ex quibusdam dolore mollitia",
            "url": "http://placehold.it/600/aa8f2e",
            "thumbnailUrl": "http://placehold.it/150/aa8f2e"
        },
        {
            "albumId": 2,
            "id": 55,
            "title": "voluptatem consequatur totam qui aut iure est vel",
            "url": "http://placehold.it/600/5e04a4",
            "thumbnailUrl": "http://placehold.it/150/5e04a4"
        },
        {
            "albumId": 2,
            "id": 56,
            "title": "vel voluptatem esse consequuntur est officia quo aut quisquam",
            "url": "http://placehold.it/600/f9f067",
            "thumbnailUrl": "http://placehold.it/150/f9f067"
        },
        {
            "albumId": 2,
            "id": 57,
            "title": "vero est optio expedita quis ut molestiae",
            "url": "http://placehold.it/600/95acce",
            "thumbnailUrl": "http://placehold.it/150/95acce"
        },
        {
            "albumId": 2,
            "id": 58,
            "title": "rem pariatur facere eaque",
            "url": "http://placehold.it/600/cde4c1",
            "thumbnailUrl": "http://placehold.it/150/cde4c1"
        },
        {
            "albumId": 2,
            "id": 59,
            "title": "modi totam dolor eaque et ipsum est cupiditate",
            "url": "http://placehold.it/600/a46a91",
            "thumbnailUrl": "http://placehold.it/150/a46a91"
        },
        {
            "albumId": 2,
            "id": 60,
            "title": "ea enim temporibus asperiores placeat consectetur commodi ullam",
            "url": "http://placehold.it/600/323599",
            "thumbnailUrl": "http://placehold.it/150/323599"
        },
        {
            "albumId": 2,
            "id": 61,
            "title": "quia minus sed eveniet accusantium incidunt beatae odio",
            "url": "http://placehold.it/600/e403d1",
            "thumbnailUrl": "http://placehold.it/150/e403d1"
        },
        {
            "albumId": 2,
            "id": 62,
            "title": "dolorem cumque quo nihil inventore enim",
            "url": "http://placehold.it/600/65ad4f",
            "thumbnailUrl": "http://placehold.it/150/65ad4f"
        },
        {
            "albumId": 2,
            "id": 63,
            "title": "facere animi autem quod dolor",
            "url": "http://placehold.it/600/4e557c",
            "thumbnailUrl": "http://placehold.it/150/4e557c"
        },
        {
            "albumId": 2,
            "id": 64,
            "title": "doloremque culpa quia",
            "url": "http://placehold.it/600/cd5a92",
            "thumbnailUrl": "http://placehold.it/150/cd5a92"
        },
        {
            "albumId": 2,
            "id": 65,
            "title": "sed voluptatum enim eaque cumque qui sunt",
            "url": "http://placehold.it/600/149540",
            "thumbnailUrl": "http://placehold.it/150/149540"
        },
        {
            "albumId": 2,
            "id": 66,
            "title": "provident rerum voluptatem illo asperiores qui maiores",
            "url": "http://placehold.it/600/ee0a7e",
            "thumbnailUrl": "http://placehold.it/150/ee0a7e"
        },
        {
            "albumId": 2,
            "id": 67,
            "title": "veritatis labore ipsum unde aut quam dolores",
            "url": "http://placehold.it/600/1279e9",
            "thumbnailUrl": "http://placehold.it/150/1279e9"
        },
        {
            "albumId": 2,
            "id": 68,
            "title": "architecto aut quod qui ullam vitae expedita delectus",
            "url": "http://placehold.it/600/e9603b",
            "thumbnailUrl": "http://placehold.it/150/e9603b"
        },
        {
            "albumId": 2,
            "id": 69,
            "title": "et autem dolores aut porro est qui",
            "url": "http://placehold.it/600/46e3b1",
            "thumbnailUrl": "http://placehold.it/150/46e3b1"
        },
        {
            "albumId": 2,
            "id": 70,
            "title": "quam quos dolor eum ea in",
            "url": "http://placehold.it/600/7375af",
            "thumbnailUrl": "http://placehold.it/150/7375af"
        },
        {
            "albumId": 2,
            "id": 71,
            "title": "illo qui vel laboriosam vel fugit deserunt",
            "url": "http://placehold.it/600/363789",
            "thumbnailUrl": "http://placehold.it/150/363789"
        },
        {
            "albumId": 2,
            "id": 72,
            "title": "iusto sint enim nesciunt facilis exercitationem",
            "url": "http://placehold.it/600/45935c",
            "thumbnailUrl": "http://placehold.it/150/45935c"
        },
        {
            "albumId": 2,
            "id": 73,
            "title": "rerum exercitationem libero dolor",
            "url": "http://placehold.it/600/1224bd",
            "thumbnailUrl": "http://placehold.it/150/1224bd"
        },
        {
            "albumId": 2,
            "id": 74,
            "title": "eligendi quas consequatur aut consequuntur",
            "url": "http://placehold.it/600/65ac19",
            "thumbnailUrl": "http://placehold.it/150/65ac19"
        },
        {
            "albumId": 2,
            "id": 75,
            "title": "aut magni quibusdam cupiditate ea",
            "url": "http://placehold.it/600/a9ef52",
            "thumbnailUrl": "http://placehold.it/150/a9ef52"
        },
        {
            "albumId": 2,
            "id": 76,
            "title": "magni nulla et dolores",
            "url": "http://placehold.it/600/7644fe",
            "thumbnailUrl": "http://placehold.it/150/7644fe"
        },
        {
            "albumId": 2,
            "id": 77,
            "title": "ipsum consequatur vel omnis mollitia repellat dolores quasi",
            "url": "http://placehold.it/600/36d137",
            "thumbnailUrl": "http://placehold.it/150/36d137"
        },
        {
            "albumId": 2,
            "id": 78,
            "title": "aperiam aut est amet tenetur et dolorem",
            "url": "http://placehold.it/600/637984",
            "thumbnailUrl": "http://placehold.it/150/637984"
        },
        {
            "albumId": 2,
            "id": 79,
            "title": "est vel et laboriosam quo aspernatur distinctio molestiae",
            "url": "http://placehold.it/600/c611a9",
            "thumbnailUrl": "http://placehold.it/150/c611a9"
        },
        {
            "albumId": 2,
            "id": 80,
            "title": "et corrupti nihil cumque",
            "url": "http://placehold.it/600/a0c998",
            "thumbnailUrl": "http://placehold.it/150/a0c998"
        },
        {
            "albumId": 2,
            "id": 81,
            "title": "error magni fugiat dolorem impedit molestiae illo ullam debitis",
            "url": "http://placehold.it/600/31a74c",
            "thumbnailUrl": "http://placehold.it/150/31a74c"
        },
        {
            "albumId": 2,
            "id": 82,
            "title": "voluptate voluptas molestias vitae illo iusto",
            "url": "http://placehold.it/600/88b703",
            "thumbnailUrl": "http://placehold.it/150/88b703"
        },
        {
            "albumId": 2,
            "id": 83,
            "title": "quia quasi enim voluptatem repellat sit sint",
            "url": "http://placehold.it/600/a19891",
            "thumbnailUrl": "http://placehold.it/150/a19891"
        },
        {
            "albumId": 2,
            "id": 84,
            "title": "aliquam dolorem ut modi ratione et assumenda impedit",
            "url": "http://placehold.it/600/b5205d",
            "thumbnailUrl": "http://placehold.it/150/b5205d"
        },
        {
            "albumId": 2,
            "id": 85,
            "title": "ullam delectus architecto sint error",
            "url": "http://placehold.it/600/eb7e7f",
            "thumbnailUrl": "http://placehold.it/150/eb7e7f"
        },
        {
            "albumId": 2,
            "id": 86,
            "title": "qui vel ut odio consequuntur",
            "url": "http://placehold.it/600/fd5751",
            "thumbnailUrl": "http://placehold.it/150/fd5751"
        },
        {
            "albumId": 2,
            "id": 87,
            "title": "eos nihil sunt accusantium omnis",
            "url": "http://placehold.it/600/224566",
            "thumbnailUrl": "http://placehold.it/150/224566"
        },
        {
            "albumId": 2,
            "id": 88,
            "title": "inventore veritatis magnam enim quasi",
            "url": "http://placehold.it/600/75334a",
            "thumbnailUrl": "http://placehold.it/150/75334a"
        },
        {
            "albumId": 2,
            "id": 89,
            "title": "id at cum incidunt nulla dolor vero tenetur",
            "url": "http://placehold.it/600/21d35",
            "thumbnailUrl": "http://placehold.it/150/21d35"
        },
        {
            "albumId": 2,
            "id": 90,
            "title": "et quae eligendi vitae maxime in",
            "url": "http://placehold.it/600/bfe0dc",
            "thumbnailUrl": "http://placehold.it/150/bfe0dc"
        },
        {
            "albumId": 2,
            "id": 91,
            "title": "sunt quo laborum commodi porro consequatur nam delectus et",
            "url": "http://placehold.it/600/40591",
            "thumbnailUrl": "http://placehold.it/150/40591"
        },
        {
            "albumId": 2,
            "id": 92,
            "title": "quod non quae",
            "url": "http://placehold.it/600/de79c7",
            "thumbnailUrl": "http://placehold.it/150/de79c7"
        },
        {
            "albumId": 2,
            "id": 93,
            "title": "molestias et aliquam natus repellendus accusamus dolore",
            "url": "http://placehold.it/600/2edde0",
            "thumbnailUrl": "http://placehold.it/150/2edde0"
        },
        {
            "albumId": 2,
            "id": 94,
            "title": "et quisquam aspernatur",
            "url": "http://placehold.it/600/cc12f5",
            "thumbnailUrl": "http://placehold.it/150/cc12f5"
        },
        {
            "albumId": 2,
            "id": 95,
            "title": "magni odio non",
            "url": "http://placehold.it/600/9cda61",
            "thumbnailUrl": "http://placehold.it/150/9cda61"
        },
        {
            "albumId": 2,
            "id": 96,
            "title": "dolore esse a in eos sed",
            "url": "http://placehold.it/600/1fb08b",
            "thumbnailUrl": "http://placehold.it/150/1fb08b"
        },
        {
            "albumId": 2,
            "id": 97,
            "title": "labore magnam officiis nemo et",
            "url": "http://placehold.it/600/e2223e",
            "thumbnailUrl": "http://placehold.it/150/e2223e"
        },
        {
            "albumId": 2,
            "id": 98,
            "title": "sed commodi libero id nesciunt modi vitae",
            "url": "http://placehold.it/600/a77d08",
            "thumbnailUrl": "http://placehold.it/150/a77d08"
        },
        {
            "albumId": 2,
            "id": 99,
            "title": "magnam dolor sed enim vel optio consequuntur",
            "url": "http://placehold.it/600/b04f2e",
            "thumbnailUrl": "http://placehold.it/150/b04f2e"
        },
        {
            "albumId": 2,
            "id": 100,
            "title": "et qui rerum",
            "url": "http://placehold.it/600/14ba42",
            "thumbnailUrl": "http://placehold.it/150/14ba42"
        }
    ];
    var app = angular.module('myApp', ["ngMaterial", "ngSanitize", "MainModule", "ngAnimate"]);
    app.controller('gridListDemoCtrl', function ($scope, $http) {

        this.tiles = buildGridModel({
            icon: "avatar:svg-",
            title: "Svg-",
            background: "",
            image: ""
        });

        function buildGridModel(tileTmpl) {

            var it, results = [];

            for (var j = 0; j < Data.length; j++) {
                it = angular.extend({}, tileTmpl);
                it.icon = it.icon + (j + 1);
                it.title = it.title + (j + 1);
                it.span = {
                    row: 1,
                    col: 1
                };

                switch (j + 1) {
                    case 1:
                        it.background = "red";
                        it.span.row = 2 
                        it.span.col = 2;
                        
                        it.image = Data[j].url;
                        break;
                    case 2:
                        it.background = "green";
                        it.image = Data[j].url;
                        break;
                    case 3:
                        it.background = "darkBlue";
                        it.image = Data[j].url;
                        break;
                    case 4:
                        it.image = Data[j].url;
                        it.background = "blue";
                        it.span.col = 2;
                        break;
                    case 5:
                        it.image = Data[j].url;
                        it.background = "yellow";
                        break;
                    case 6:
                        it.background = "pink";
                        it.image = Data[j].url;
                        break;
                    case 7:
                        it.background = "darkBlue";
                        it.image = Data[j].url;
                        break;
                    case 8:
                        it.background = "purple";
                        it.image = Data[j].url;
                        break;
                    case 9:
                        it.background = "deepBlue";
                        it.image = Data[j].url;
                        break;
                    case 10:
                        it.background = "lightPurple";
                        it.image = Data[j].url;
                        break;
                    case 11:
                        it.background = "yellow";
                        it.image = Data[j].url;
                        break;
                    case 12:
                     it.image = Data[j].url;
                      it.span.row = 2 
                        it.span.col = 2;
                        break;
                    case 79:
                     it.image = Data[j].url;
                      it.span.row = 2 
                        it.span.col = 2;
                        break;
                    case 25:
                     it.image = Data[j].url;
                      it.span.row = 3 
                        it.span.col = 3;
                        break;

                    default:
                        it.image = Data[j].url;
                        break;
                }

                results.push(it);
            }
            return results;
        }
    });


    angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
</script>