<div id="myApp2" ng-app="FilterCate" ng-controller="FilterCategoriesCtrl" >
<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container">
      <div class="row">
      
      <div class="col-md-12 header-search paddinB10 paddinT10">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control" ng-model="search"  placeholder="Search 520 000 3D models" >
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      
       
      
      </div>
    </div>
  </div>
</section>

<!--  Download Details Content -->
<section class="clearfix downloadcategorywrap">
  <div class="container">
  <h2>{{categoriesBanner.name}}</h2>
  <div ng-bind="categoriesBanner.description" class="downloadtxt">

      </div>
  <div class="row">
  <ul>
  <li ng-repeat="subcat in sub_category_list" class="col-md-3 col-sm-4 col-xs-6 marginB10">
  <a href="/tutorials/{{brodCampA}}/{{brodCampB}}/{{subcat.slug}}">{{subcat.name}}
  <span class="badge">({{subcat.count_tutorials}})</span></a>
  </li>
  
  </ul>
  </div>
  </div>
</section>

<!-- Download Indent Start -->
<section class="clearfix downpadcategory">
  <div class="container">
  <div class="clearfix hidden-xs hidden-sm">
  <ol class="breadcrumb margin">
  <li class="breadcrumb-item"><a href="/tutorials">Tutorials</a></li>
  <li class="breadcrumb-item"><a href="/tutorials/{{brodCampA}}">{{brodCampA}}</a></li>
  <li class="breadcrumb-item active">{{brodCampB}}</li>
  </ol>
  </div>
  <div class="downwrapprice hidden-xs hidden-sm">
  <div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="pull-left price-down paddinT5">Price 
                 <div style="width: 230px;">
                   <rzslider
                     rz-slider-floor="priceSlider.floor"
                     rz-slider-ceil="priceSlider.ceil"
                     rz-slider-model="priceSlider.min"
                     rz-slider-high="priceSlider.max"
                      rz-slider-translate="currencyFormatting"
                      rz-slider-on-end="filter()"></rzslider>

                    $<strong>{{priceSlider.min}}</strong> &nbsp;-&nbsp; $<strong>{{priceSlider.max}}</strong>
                 </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12">
    
    

    </div>
    <div class="col-md-4 col-sm-3 col-xs-12">
   
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      
       <select  class="custom-select" 
     ng-options="options1.name for options1 in Sort"
     ng-model="sort" ng-click="sortMe(sort);">
     
       </select>
      
    </div>
    </div>
    </div>
    <div class="clearfix resetfilterswrap">
    <div class="row">
    <div class="col-md-10 col-sm-9 col-xs-12">
 



    </div>
    <div class="col-md-2 col-sm-3 col-xs-12 text-right reset-btn"> 
    <!-- <a href="#"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Rest filters</a>  -->
    </div>
    </div>
    </div>

    <!-- User Followers Start -->
    <div class="download-indent clearfix">
    <div class="container">
    <div class="clearfix downbox row">
  
      <div class="clearfix">
        <ul>
          <li dir-paginate="product in products.items | filter:search | itemsPerPage:10"  class="clearfix">
            <div class="downwrap">
         
            <a href="/tutorials/{{product.paramlink}}/show">
                <img ng-src="{{product.company_logo.download_list.url}}" class="img-responsive">
                </a>
            </div>
            <div class="padding10 clearfix">
              <div class="down-txt">
              <span>{{product.title}}</span> <span class="pull-right tut-price">${{product.price}}</span></div>
              <div class="clearfix down-name">
                <div class="pull-left">by 
                <span ng-if="product.is_admin=='N'" class="price-txt1">{{product.user.firstname}}&nbsp;{{product.user.lastname}}</span>
                <span ng-if="product.is_admin=='Y'" class="price-txt1">Admin</span>
                </div>
                  <div class="pull-right"> 
                    <span ng-if="!checkCart(product.tutorial_id)" class="checkbox-btn">
                      <input  type="checkbox" ng-click="AddTocart(product)" value="value-1" id="rc{{product.id}}">
                    

                      <label for="rc{{product.id}}" onclick=""></label>
                    </span> 
                    <span ng-if="checkCart(product.tutorial_id)" class="checkbox-btn">
                      <input  type="checkbox" ng-checked="true" ng-click="RemoveThis(product)" value="value-1" id="rc{{product.id}}">
                    

                      <label for="rc{{product.id}}" onclick=""></label>
                      </span> 
                      <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
          </div>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="text-center text-uppercase">
    <div class="pagination clearfix">
            <dir-pagination-controls
                 max-size="3"
                 direction-links="true"
                 boundary-links="false" >
            </dir-pagination-controls>
          </div>
    </div>
    </div>
    </div>
    </div>
</section>
</div>
<footer class="footer clearfix">
  <%= render "layouts/lastfooter" %>
</footer>

<script type="text/javascript">
  var app = angular.module('FilterCate', ["angularUtils.directives.dirPagination","rzModule","MainModule"]);
   app.controller('FilterCategoriesCtrl',function($scope,$http,Cart,$rootScope,$location){
    $scope.priceSlider = {};
     $scope.fl = {};
     $scope.products = {};
   $scope.Sort = [{id:'asc',name:'Oldest'},{id:'dsc',name:'Newest'}];

     
  //Get URl data-------------------------------------------------------------------------
       var Url = window.location.href;
       var params = Url.split('/').slice(-1)[0];
       $scope.brodCampA = Url.split('/').slice(-2)[0];
       $scope.brodCampB =  Url.split('/').slice(-1)[0];
      
       var uRI = "/tutorials/get_topic_subject_detail/"+params;
     $http.get(uRI).then(function (response) {
                $scope.finalData.category_id=response.data.subject_data.id;
                $scope.categoriesBanner = response.data.subject_data;
                $scope.sub_category_list = response.data.sub_subject_list;
                $http.get('/tutorials/get_filter_values').then(function (res) {

                 $scope.priceSlider = {
                          min: 0,
                          max: res.data.max_price,
                          ceil: res.data.max_price,
                          floor: 0
                  };
                 $scope.file_formats = res.data.file_formats;
                  $scope.filter();
            })
        });
  //End Get URl data-------------------------------------------------------------------------
      /*Cart Data Mange*/
       $rootScope.cart = Cart.cart;
    $rootScope.checkCart = function(id){
        if($scope.cart.skuArray.includes(id)){
            return true;
        }else{
            return false;
        }
    };
  $scope.RemoveThis = function (product) {
      
        $scope.cart.addItem({ sku: product.tutorial_id}, -10000000);
        window.location.reload();
    }
    $scope.AddTocart = function (product) {
     
       $scope.cart.addItem(
        { sku: product.tutorial_id,
          type:'tutorial',
          name: product.title,
          slug:product.paramlink, 
          mrp: product.price, 
          price: product.price, 
          quantity: 1, 
          image: product.company_logo.thumb.url, 
          weight: 0 }, true);
       window.location.reload();
    };
/*Cart Data Mange*/
  $scope.currencyFormatting = function(value){
         if(value==undefined)
         {
           return  '$ ' + 0;
         }
         else{
         return  '$ ' + value;
       }
    }
    $scope.finalData = {
      sub_category_id: null,
      order_by: 'dsc'
      }
    $scope.sortMe = function(sort)
    {
     if(sort!=null)
     {
      delete $scope.finalData.order_by;
      $scope.finalData.order_by =sort.id; 
      $scope.filter();
     }
     else
     {
      $scope.filter();
     }
    }
 

    $scope.filter = function(){
      $scope.finalData.min_price = $scope.priceSlider.min;
      $scope.finalData.max_price = $scope.priceSlider.max;
    
      $scope.displaydata($scope.finalData);

    };

    $scope.displaydata = function (bodyData) {
      console.log(JSON.stringify(bodyData));  
       $scope.products.items = [];
        $http({
            method : "GET",
            url : "/tutorials/get_topic_subject_tutorials_list",
            params:bodyData
        }).then(function mySucces(response) {
          console.log(JSON.stringify(response.data.tutorial_data.length));

           for(var i = 0; i < response.data.tutorial_data.length; i++) {
                  $scope.products.items.push(response.data.tutorial_data[i]);
              }
            
        }, function myError(response) {
            console.log("Error"+JSON.stringify(response));

        });
   }
  
  });
      angular.bootstrap(document.getElementById("myApp2"), ['FilterCate']);
</script>