<!-- Submenu Navigation -->
<div id="myApp2" ng-app="FilterCate" ng-controller="FilterCategoriesCtrl" >
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="row">
      
      <div class="col-md-3 col-sm-4 col-xs-9 header-search">
      <div class="input-group stylish-input-group">
          <input type="text" ng-model="search" class="form-control"  placeholder="Search 520 000 3D models" >
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      
       <div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
        <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                <li class="active"><a href="/news/all">All News</a></li>
                <li ng-repeat="topic in TopicsTypeList track by $index"><a href="/news/{{topic.slug}}">{{topic.name}}</a></li>
              
              </ul>
            </div>
        </div>
      
      </div>
    </div>
  </div>
</section>

<!--  Download Details Content -->
<section class="clearfix downloadcategorywrap">
  <div class="container">
  <h2>{{categoriesBanner.name}}</h2>
  <div ng-bind="categoriesBanner.description" class="downloadtxt">

      </div>
  <div class="row">
  <ul>
  <li ng-repeat="subcat in sub_category_list" class="col-md-3 col-sm-4 col-xs-6 marginB10">
  <a href="/news/{{brodCampB}}/{{subcat.slug}}">{{subcat.name}}
  <span class="badge">({{subcat.count_news}})</span></a>
  </li>
  
  </ul>
  </div>
  </div>
</section>

<!-- Download Indent Start -->
<section class="clearfix downpadcategory">
<div class="container">
 <div class="clearfix hidden-xs hidden-sm">
  <ol class="breadcrumb margin">
 <!--  <li class="breadcrumb-item"><a href="/news">News</a></li>
  <li class="breadcrumb-item active">{{brodCampB}}</li> -->


  <li class="breadcrumb-item"><a href="/news">News</a></li>
  <li class="breadcrumb-item"><a href="/{{brodCamp}}/{{brodCampA}}">{{brodCampA}}</a></li>
  <li class="breadcrumb-item active">{{categoriesBanner.name}}</li>
  </ol>
  </div>






<!-- User Followers Start -->
<div class="download-indent clearfix">
<div class="container">
<div class="clearfix downbox row">
 <!--  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials8.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div> -->

  <div class="clearfix">
        <ul>
          <li dir-paginate="product in products.items | filter:search | itemsPerPage:10"  class="clearfix">
            <div class="downwrap">
         
            <a href="/news/{{product.paramlink}}/show">
                <img ng-src="{{product.company_logo.tutorial_list.url}}" class="img-responsive">
            </a>
            </div>
            <div class="padding10 clearfix">
             
               <div class="down-txt">
                <span>{{product.title}}</span> <a href="/news/{{product.paramlink}}/show" class="pull-right tut-price txt13">View</a>
                </div>
              <div class="clearfix down-name">
                <div class="pull-left">by 
                <span ng-if="product.is_admin=='N'" class="price-txt1">{{product.user.firstname}}&nbsp;{{product.user.lastname}}</span>
                <span ng-if="product.is_admin=='Y'" class="price-txt1">Admin</span>
                </div>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
</div>
<div class="text-center text-uppercase">
  <div class="pagination clearfix">
            <dir-pagination-controls
                 max-size="3"
                 direction-links="true"
                 boundary-links="false" >
            </dir-pagination-controls>
    </div>
</div>
</div>
</div>
</div>
</section>
</div>

<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>
<script type="text/javascript">
  var app = angular.module('FilterCate', ["angularUtils.directives.dirPagination","rzModule","MainModule"]);
   app.controller('FilterCategoriesCtrl',function($scope,$http,Cart,$rootScope,$location){
  $http.get('/news/get_news_category_list').then(function(response){
      $scope.TopicsTypeList = response.data;
    });

 $scope.finalData = {};
  $scope.products = {};
    var Url = window.location.href;
       var params = Url.split('/').slice(-1)[0];
        $scope.brodCamp = Url.split('/').slice(-3)[0];
       $scope.brodCampA = Url.split('/').slice(-2)[0];
       $scope.brodCampB =  Url.split('/').slice(-1)[0];
      
       var uRI = "/news/get_category_detail/"+params;

     $http.get(uRI).then(function (response) {
        $scope.finalData.sub_category_id=response.data.category_data.id;
                $scope.categoriesBanner = response.data.category_data;
                $scope.sub_category_list = response.data.sub_category_list;
                 $scope.displaydata($scope.finalData);
        });



$scope.displaydata = function(bodyData) {
    $scope.products.items = [];
        $http({
            method : "GET",
            url : "/news/get_category_news_list",
            params:bodyData
        }).then(function mySucces(response) {

           for(var i = 0; i < response.data.news_data.length; i++) {
                  $scope.products.items.push(response.data.news_data[i]);
              }
            
        }, function myError(response) {
            console.log("Error"+JSON.stringify(response));

        });
};
//$scope.DisplayList();

       

    });
         angular.bootstrap(document.getElementById("myApp2"), ['FilterCate']);
</script>