<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="content clearfix">
      <div class="clearfix job-post-bread">
        <ul class="breadcrumb">
          <li><a href="#">Setting</a></li>
          <li class="active">General</li>
        </ul>
      </div>
      
      <!-- User Followers Start -->
      <section class="clearfix usersettings">
        <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">User Setting</span> </div>
        <div class="panel panel-default">
          <div class="panel-heading">General</div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group clearfix">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <label>Email</label>
                    <input type="email" placeholder="demo@testdemo.com" class="form-control from-input">
                  </div>
                </div>
              </div>
              <div class="form-group clearfix timezone">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <label>Timezone</label>
                    <select class="custom-select">
                      <option>Please Select Time</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix timezone socialnewbox">
                <div class="row">
                  <label class="col-md-12 col-sm-12 col-xs-12 marginB15">Social Media Integration</label>
                  <div class="col-md-3 col-sm-4 col-xs-12 lightcolor marginB10">Facebook
                    <button type="button" class="btn btn-danger marginL5">Disconnect Facebook</button>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12 lightcolor marginB10">Twitter
                    <button type="button" class="btn btn-info marginL5"><i class="fa fa-twitter marginR5" aria-hidden="true"></i> Hook up with Twitter</button>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12 lightcolor marginB10">Linkedin
                    <button type="button" class="btn btn-primary marginL5"><i class="fa fa-linkedin marginR5" aria-hidden="true"></i> Hook up with Linkedin</button>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix timezone socialnewbox">
                <div class="row">
                  <label class="col-md-12 col-sm-12 col-xs-12 marginB15">Twitch Integration</label>
                  <div class="col-md-12 col-sm-12 col-xs-12 lightcolor">Live stream from Twitch to CGMeetup Challenges!
                    <button type="button" class="btn btn-info marginL5"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i> Hook up with Twitch</button>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix socialnewbox">
                <label class="marginB15">Browsing Experience</label>
                <div class="checkbox-btn">
                  <input type="checkbox" value="value-1" id="rc7" name="rc7"/>
                  <label for="rc7" onclick>Show mature content</label>
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="marginB15"><a href="#" class="white-txt">Danger Zone</a></div>
                <div class="marginB15"><a href="#" class="blue-txt">Cancel Account</a></div>
              </div>
              <button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Password</div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group clearfix">
                <label onClick="">Current password</label>
                <input type="password" placeholder="Your Current password" class="form-control from-input">
              </div>
              <div class="form-group clearfix">
                <label onClick="">Password</label>
                <input type="password" placeholder="Your new password" class="form-control from-input">
              </div>
              <div class="form-group clearfix">
                <label onClick="">Password confirmation</label>
                <input type="password" placeholder="Confirm your new password" class="form-control from-input">
              </div>
              <button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Username</div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group clearfix warningbox marginB15">
                <div class="txt16 marginB15 blue-txt">Warning - Danger ahead</div>
                <div class="marginB10 lightcolor">Changing your username will change the URL of your ArtStation profiles. You will need to update any links that you have to these URL's:</div>
                <div class="blue-txt marginB15">https://www.cgmeetup.com/artist/sher_1234567898</div>
                <div class="blue-txt marginB15">https://sher_1234567898.cgmeetup.com</div>
                <div class="lightcolor">Usernames must have between 3 and 63 letters and cannot start or end with a '-' or '_'</div>
              </div>
              <div class="form-group clearfix">
                <label onClick="">Change Username</label>
                <input type="text" placeholder="Sher_123456789" class="form-control from-input">
              </div>
              <button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Block Users</div>
          <div class="panel-body">
            <div class="lightcolor marginB15">Blocking a user prevents that user from commenting on your projects and discussion posts. Note that it does not remove his artwork from the main walls of art (Trending/Picks/etc.). The purpose of this feature is to prevent users from harassing you on CGMeetup.</div>
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="text" class="form-control from-input block-input" placeholder="Type a user's name">
              </div>
              <button type="button" class="green-btn block-btn"><i class="fa fa-plus" aria-hidden="true"></i> Block</button>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Notifications</div>
          <div class="panel-body">
            <div class="marginB40 lightcolor">A daily or weekly email that keeps you up-to-date on what's happening with your CGMeetup account.  Digests are sent in addition to individual email notifications on events.</div>
            <form role="form">
              <div class="form-group clearfix timezone socialnewbox">
                <label>Email digest option</label>
                <select class="custom-select">
                  <option>Email me daily</option>
                </select>
              </div>
            </form>
            <div class="clearfix emailwrap">
              <h3 class="marginB15">Email Notifications</h3>
              <div class="marginB15 lightbulb-txt"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> These settings control individual emails that will be sent to you when an event occurs.</div>
              <div class="clearfix row">
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on my activity</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there is activity on your artwork, portfolio and comments. For the best experience, you probably want to leave these on.</div>
                    <div class="white-txt marginB15">Email me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="1" name="1"/>
                      <label for="1" onclick>When someone likes my artwork</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="2" name="2"/>
                      <label for="2" onclick>When someone comments on my artwork</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="3" name="3"/>
                      <label for="3" onclick>When someone follows me</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="4" name="4"/>
                      <label for="4" onclick>When someone likes my comment</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on other people's artwork</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there is activity on other people's artwork, but that you follow or have participated in.</div>
                    <div class="white-txt marginB15">Email me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="5" name="5"/>
                      <label for="5" onclick>When a user I'm following posts new artwork</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="6" name="6"/>
                      <label for="6" onclick>When someone comments on artwork I've commented on</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="6" name="6"/>
                      <label for="6" onclick>When someone replies to my comment on an artwork</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on challenges</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there is activity on Artstation challenges.</div>
                    <div class="white-txt marginB15">Email me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="9" name="9"/>
                      <label for="9" onclick>When there are updates on challenge submissions that I subscribe to</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="10" name="10"/>
                      <label for="10" onclick>When someone likes my submission</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="11" name="11"/>
                      <label for="11" onclick>When someone likes one of my submission update</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="12" name="12"/>
                      <label for="12" onclick>When there are challenge announcements</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on other people's artwork</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there are new replies to discussions you are involved in.</div>
                    <div class="white-txt marginB15">Email me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="13" name="13"/>
                      <label for="13" onclick>When there are new replies on challenge announcements</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="14" name="14"/>
                      <label for="14" onclick>When there are new replies on challenge submission updates</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="15" name="15"/>
                      <label for="15" onclick>When someone likes one of my replies to a discussion</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="16" name="16"/>
                      <label for="16" onclick>When someone likes a challenge announcement that I posted</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix emailwrap">
              <h3 class="marginB15">On-Site Notifications</h3>
              <div class="marginB15 lightbulb-txt"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> These settings control what events will notify you on CGMeetup.net</div>
              <div class="clearfix row">
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on my activity</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there is activity on your artwork, portfolio or comments. For the best experience, you probably want to leave these on.</div>
                    <div class="white-txt marginB15">Notify me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="17" name="17"/>
                      <label for="17" onclick>When someone likes my artwork</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="18" name="18"/>
                      <label for="18" onclick>When someone comments on my artwork</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="19" name="19"/>
                      <label for="19" onclick>When someone follows me</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="20" name="20"/>
                      <label for="20" onclick>When someone likes my comment</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on other people's artwork</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there is activity on other people's artwork, but that you follow or have participated in.</div>
                    <div class="white-txt marginB15">Notify me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="21" name="21"/>
                      <label for="21" onclick>When a user I'm following posts new artwork</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="22" name="22"/>
                      <label for="22" onclick>When someone comments on artwork I've commented on</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="23" name="23"/>
                      <label for="23" onclick>When someone replies to my comment on an artwork</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on challenges</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there is activity on Artstation challenges.</div>
                    <div class="white-txt marginB15">Notify me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="25" name="25"/>
                      <label for="25" onclick>When there are updates on challenge submissions that I subscribe to</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="26" name="26"/>
                      <label for="26" onclick>When someone likes my submission</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="27" name="27"/>
                      <label for="27" onclick>When someone likes one of my submission update</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="28" name="28"/>
                      <label for="28" onclick>When there are challenge announcements</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                  <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on discussions</div>
                  <div class="panel-indent clearfix">
                    <div class="lightcolor marginB15">These notifications are to inform you when there are new replies to discussions you are involved in.</div>
                    <div class="white-txt marginB15">Notify me:</div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="29" name="29"/>
                      <label for="29" onclick>When there are new replies on challenge announcements</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="30" name="30"/>
                      <label for="30" onclick>When there are new replies on challenge submission updates</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="31" name="31"/>
                      <label for="31" onclick>When someone likes one of my replies to a discussion</label>
                    </div>
                    <div class="checkbox-btn marginB10">
                      <input type="checkbox" value="value-1" id="32" name="32"/>
                      <label for="32" onclick>When someone likes a challenge announcement that I posted</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix socialnewbox marginB15">
              <div class="white-txt marginB10">Email Subscriptions</div>
              <div class="lightcolor marginB15">An email is sent to you whenever there are major new announcements about CGMeetup. Sent about once every 3 months.</div>
              <div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="33" name="33"/>
                <label for="33" onclick>Subscribe to announcements</label>
              </div>
            </div>
            <div class="clearfix marginB15 socialnewbox">
              <div class="white-txt marginB10">Jobs</div>
              <div class="lightcolor marginB15">A daily jobs digest is sent to you of new jobs that are posted on CGMeetup.</div>
              <div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="34" name="34"/>
                <label for="34" onclick>Subscribe to jobs digest</label>
              </div>
            </div>
            <div class="clearfix marginB15 socialnewbox">
              <div class="white-txt marginB10">Tutorials</div>
              <div class="lightcolor marginB15">A daily tutorials digest is sent to you of new tutorials are posted on CGMeetup.</div>
              <div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="35" name="35"/>
                <label for="35" onclick>Subscribe to jobs digest</label>
              </div>
            </div>
            <div class="clearfix marginB15">
              <div class="white-txt marginB10">Downloads</div>
              <div class="lightcolor marginB15">A daily downloads digest is sent to you of new downloads are posted on CGMeetup.</div>
              <div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="36" name="36"/>
                <label for="36" onclick>Subscribe to jobs digest</label>
              </div>
            </div>
            <button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
<%= javascript_include_tag "jquery.min","bootstrap.min","custom" %>
