<section class="searchpage clearfix"  id="myApp2"  ng-app="myApp" ng-controller="connectionCtrl">
  <div class="container">
    <h2>Connection</h2>
    
    <div class="searchwrap clearfix">
      <div class="form-group marginB40">
      <center>
            <div>
                 <!-- Nav tabs -->
                  <ul style='border-bottom: none;margin-left:40%' class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active lightbtn"><a class='lightbtn txt16' href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
                    <li role="presentation" class="lightbtn"><a class='lightbtn txt16' href="#follower" aria-controls="follower" role="tab" data-toggle="tab">Follower</a></li>
                  </ul>
             </div>
           

<!--            <button type="button" class="lightbtn txt16">Following</button>
           <button type="button" class="lightbtn txt16">Follower</button> -->
      </center>
      </div>

    </div>
         <div class="searchwrap clearfix">
                     
                      <div class="form-group marginB15">
                          <input type="text" class="form-control from-input" maxlength="64" placeholder="Search" ng-model="search" />
                      </div>
                    
                     
                     <div class="clearfix marginB40">
                      <div class="pull-left marginL5 marginR5 pos-rel">
                              
                          <ul class="nav nav-pills">
                            <li class="dropdown pull-right" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
                               <ul class="dropdown-menu">
                                <li><a href="#" id="sort-link-older" ng-click="searchByCreated('ASC', 'older')" class="sort-link" >Older</a></li>
                                <li><a href="#" id="sort-link-newest" ng-click="searchByCreated('DESC', 'newest')"  class="sort-link" >Newest </a></li>
                              </ul>
                            </li>
                          </ul>    
                              <!-- <select class="custom-select">
                                 <option>Recent</option>
                                 <option>Like</option>
                              </select> -->
                        </div> 

                      </div>
                      <div class="innerleft col-sm-12 col-xs-12 pull-left marginR5 lightcolor paddinT10 ">
                              <div class="tab-content">
                                  <div role="tabpanel" class="tab-pane active" id="following">
                                       <ul>
                                            <li class="clearfix"  dir-paginate="x in following_data|filter:search|itemsPerPage:10" >
                                              <div class="connect-following-profile pull-left">
                                               <a href="/artist-profile/{{x.user.id}}"> <img lazy-img="<%= root_url %>{{ x.user.image.thumb.url }}" alt='User' class="img-responsive"></a>
                                              </div>
                                              <div class="connect-profile clearfix ">
                                                  <div class="user-title"><a href="/artist-profile/{{x.user.id}}">{{ x.user.firstname }} {{ x.user.lastname }}</a></div>
                                                  <div class="user-position-txt"><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> {{ x.user.professional_headline }}</div>
                                                  <div class="user-position-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> {{ x.user.city }}, {{ x.country_name }}</div>
                                                 <button ng-click="unfollowuser(x.user.id)" type="button" class="red-btn border-radius marginR5"><i class="fa fa-times marginR5" aria-hidden="true"></i> Un Follow</button><span class="follow-companies">{{ x.like_res.user_follow_me}}</span> <span class="white-txt txt13 marginR5"> <i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i>  {{ x.like_res.user_like_me}}</span> <span class="white-txt txt13 marginR5"><i class="fa fa-eye marginR5" aria-hidden="true"></i> 0</span>
                                              </div>
                                            </li>
                                            <li ng-hide="following_data.length" class="text-center err-msg no-result">No Result Found!</li>
                                       </ul> 
                                  </div>
                                  <div role="tabpanel" class="tab-pane" id="follower">
                                    
                                        <ul>
                                            <li class="clearfix"  dir-paginate="x in follower_data|filter:search|itemsPerPage:10" >
                                              <div class="connect-following-profile pull-left">
                                                <img lazy-img="<%= root_url %>{{ x.user.image.thumb.url }}" alt='User' class="img-responsive">
                                              </div>
                                              <div class="connect-profile clearfix ">
                                                  <div class="user-title">{{ x.user.firstname }} {{ x.user.lastname }}</div>
                                                  <div class="user-position-txt"><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> {{ x.user.professional_headline }}</div>
                                                  <div class="user-position-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> {{ x.user.city }}, {{ x.country_name }}</div>
                                                 <button ng-click="unfollowuser1(x.user.id)" type="button" class="red-btn border-radius marginR5"><i class="fa fa-times marginR5" aria-hidden="true"></i> Remove</button><span class="follow-companies">{{ x.like_res.user_follow_me}}</span> <span class="white-txt txt13 marginR5"> <i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i>  {{ x.like_res.user_like_me}}</span> <span class="white-txt txt13 marginR5"><i class="fa fa-eye marginR5" aria-hidden="true"></i> 0</span>
                                              </div>
                                            </li>
                                            <li ng-hide="follower_data.length" class="text-center err-msg no-result">No Result Found!</li>
                                       </ul> 
                                    
                                  </div>
                              </div>
                      </div>     
          </div>      
  </div> 
</section>

<script>
var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
app.controller('connectionCtrl', function($scope, $http) {
    
    $scope.filter = function() {
        
        list_url = '/user/get_connection_following?';

        if(typeof $scope.order !== 'undefined' && $scope.order != ''){
          list_url += '&order=' + $scope.order
        }

        $http.get(list_url).then(function (response) {
          $scope.following_data = response.data;
        });

        list_url1 = '/user/get_connection_followers?';

        $http.get(list_url1).then(function (response) {
          $scope.follower_data = response.data;
        });



    };
    $scope.filter();


    $scope.searchByCreated = function(value, id) {

      angular.element( document.querySelectorAll( '.sort-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#sort-link-' + id ) ).addClass('active');
      
      $scope.order = value;
      $scope.filter();

    };

    $scope.unfollowuser = function(user_id) {
         if(confirm('Are you sure?')){
              list_url = '/user/unfollow_artist?user_id='+user_id;
              $http.get(list_url).then(function (response) {
              });
          }
     $scope.filter();
    
    };

    $scope.unfollowuser1 = function(user_id) {
       
      if(confirm('Are you sure?')){
           list_url = '/user/unfollow_user?user_id='+user_id;
             $http.get(list_url).then(function (response) {
           });
      }    
     
     $scope.filter();
    
    };
  
});
</script>
