<div class="container login-page">
<h2 class="text-center">Forgot Your Password?</h2>
<div id="login-popup">
<div class="modal-dialog">
<div class="modal-header">
<h4 class="modal-title">Forgot Your Password?</h4>
</div>
<!-- Modal content-->
<div class="modal-content">
<div class="modal-body">
  <form role="form">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 marginB15 txt16 lightcolor">Enter your email address and we'll send you password reset instructions!</div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="email">Your Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@example.com">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <button type="submit" class="lightbtn txt16">Reset Password</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
<div class="text-center">
	<a data-toggle="modal" href="#login-popup"><span class="blue-txt txt15 "></span> Return to sign in</a>
	</div>
</div>
<%= javascript_include_tag "jquery.min","angular","bootstrap.min","wow.min" %>
