<!-- Join The Challange Page Start -->
<section class="jointhewrap clearfix">
<div class="container">
<h2>ACCEPT THE CHALLENGE!</h2>
<div class="jointop">Ready to join the challenge?</div>
<div class="join-indent clearfix">
<h3>Checking profile completeness</h3>
<div class="profile-txt">Profile completeness: 0%</div>
<div class="artwork-join"><i class="fa fa-times marginR5" aria-hidden="true"></i> Artwork</div>
<div class="artwork-join"><i class="fa fa-times marginR5" aria-hidden="true"></i> Profile summary</div>
<div class="artwork-join"><i class="fa fa-times marginR5" aria-hidden="true"></i> Software proficiency</div>
<div class="artwork-join"><i class="fa fa-times marginR5" aria-hidden="true"></i> Skills</div>

<div class="incomplete-profile clearfix">
<h4>Incomplete profile</h4>
<div class="incomplete-txt">Hey it looks like you have an incomplete CGMeetup profile.<br>
Completing your profile gives you tons of benefits - recruiters can find you more easily on the artist search, people can see what your skills and software proficiencies are, etc.<br>This challenge does not require a completed profile, but other challenges such as recruiting challenges do. We recommend that you complete your profile for your own benefit.</div>
<button type="button" class="lightbtn"><i class="fa fa-long-arrow-right marginR5 blue-txt" aria-hidden="true"></i> Complete my profile</button>
</div>

<div class="sponsors-wrap clearfix">
<h4>Get updates from sponsors</h4>
<div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="rc3" name="rc3"/>
                <label for="rc3" onclick>Yes I would like the challenge sponsors to be able to contact me with special offers and updates</label>
                </div>

</div>

<div class="clearfix legalterms">
<h4>Challenge Legal Terms</h4>

<div class="legaltermswrap">
<p class="text-center"><strong>PLEASE REVIEW THESE OFFICIAL RULES BEFORE ENTERING THE COMPETITION. <br>NO PURCHASE OR PAYMENT NECESSARY TO ENTER OR WIN</strong></p>
<p class="text-center"><strong>VOID WHERE PROHIBITED<br>THIS COMPETITION IS GOVERNED BY CANADIAN AND US LAW</strong> <br>RESIDENCY RESTRICTIONS APPLY.</p>
<p class="text-center">Registration data and the e-mail addresses and names provided by Entrants are processed in Canada and in accordance with the ArtStation Privacy Policy
</p>
<p><strong>1) Description of Competition</strong> – Yellow Mammoth Lda, a Portuguese corporation operating the Trojan Horse was a Unicorn event, (the “Sponsor”) is offering the “THU Golden Ticket Challenge 2016” (the “THU GT Challenge”.) This is a skill-based Competition in which original artworks submitted by eligible registered entrants (“Entrants”) will be judged based on the judging criteria set out in Section 6 of these Rules. The Competition is available exclusively on</p>

<p><strong>2) Description of Competition</strong> – Yellow Mammoth Lda, a Portuguese corporation operating the Trojan Horse was a Unicorn event, (the “Sponsor”) is offering the “THU Golden Ticket Challenge 2016” (the “THU GT Challenge”.) This is a skill-based Competition in which original artworks submitted by eligible registered entrants (“Entrants”) will be judged based on the judging criteria set out in Section 6 of these Rules. The Competition is available exclusively on</p>

<p><strong>3) Description of Competition</strong> – Yellow Mammoth Lda, a Portuguese corporation operating the Trojan Horse was a Unicorn event, (the “Sponsor”) is offering the “THU Golden Ticket Challenge 2016” (the “THU GT Challenge”.) This is a skill-based Competition in which original artworks submitted by eligible registered entrants (“Entrants”) will be judged based on the judging criteria set out in Section 6 of these Rules. The Competition is available exclusively on</p>

<p><strong>4) Description of Competition</strong> – Yellow Mammoth Lda, a Portuguese corporation operating the Trojan Horse was a Unicorn event, (the “Sponsor”) is offering the “THU Golden Ticket Challenge 2016” (the “THU GT Challenge”.) This is a skill-based Competition in which original artworks submitted by eligible registered entrants (“Entrants”) will be judged based on the judging criteria set out in Section 6 of these Rules. The Competition is available exclusively on</p>

<p><strong>5) Description of Competition</strong> – Yellow Mammoth Lda, a Portuguese corporation operating the Trojan Horse was a Unicorn event, (the “Sponsor”) is offering the “THU Golden Ticket Challenge 2016” (the “THU GT Challenge”.) This is a skill-based Competition in which original artworks submitted by eligible registered entrants (“Entrants”) will be judged based on the judging criteria set out in Section 6 of these Rules. The Competition is available exclusively on</p>


</div>

 
<div class="checkbox-btn marginB15">
 <input type="checkbox" value="value-1" id="rc4" name="rc4"/>
 <label for="rc4" onclick>Yes I would like the challenge sponsors to be able to contact me with special offers and updates</label>
</div>
 
<div class="clearfix join-button">
<button class="greenbtn marginR5" type="submit">Submit</button> <button class="lightbtn marginL5" type="reset">Cancel</button>
</div>

</div>

</div>

</div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
