<div class="container login-page">
<h2 class="text-center">Showcase, Connect &amp; Discover Creative Work</h2>
<div class="login-txt text-center">Networking for Entertainment, Concpet Art, Vfx, Games &amp; Illustrations.</div>
<div id="login-popup">
<div class="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body">
      <form role="form">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="first">* First name</label>
              <input type="text" class="form-control" id="first" placeholder="E.g. Adam">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="last">* Last name</label>
              <input type="text" class="form-control" id="last" placeholder="E.g. Voges">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="E.g. Username">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="E.g. Adam@rockland.com">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="password">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 marginB15">
            <div class="form-group">
              <label for="pwd" class="signupnew">Profile Type:</label>
				   <select class="custom-select signupnew1">
					   <option>Artist</option>
					   <option>Recruiter</option>
					   <option>Studio</option>
				  </select>
			 
             </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="answer">What is the full form of vfx? <span class="blue-txt">Answer</span></label>
              <input type="text" class="form-control" id="answer" placeholder="Registration Question to Protect  us against spammers.">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 marginB15"> 
			   <%= image_tag("captch.jpg", :alt => "captch",:class=>"img-responsive") %>
			 </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-success txt16">Sign me up!</button>
          </div>
        </div>
      </form>
      <div class="follow-loginwrap clearfix text-center">
        <div class="or-txt">or</div>
        <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="lightbtn"><i class="fa fa-facebook blue-txt" aria-hidden="true"></i> Sign in using Facebook</a> <a href="<%= omniauth_authorize_path(:user, :twitter) %>" class="lightbtn"><i class="fa fa-twitter blue-txt" aria-hidden="true"></i> Sign in using Twitter</a> </div>
    </div>
  </div>
</div>
</div>
</div>
