<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand hidden-md hidden-lg" href="#">All Item</a> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All Item</a></li>
          <li><a href="#">3D Models</a></li>
          <li><a href="#">Cars</a></li>
          <li><a href="#">HDRI Images</a></li>
          <li><a href="#">CG Textures</a></li>
          <li><a href="#">Materials &amp; Shaders</a></li>
          <li><a href="#">Base Meshes</a></li>
          <li><a href="#">Scripts &amp; Plugins</a></li>
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">more</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
  <!-- Showcase & Discover Creative Work -->
  <section class="clearfix downloadwrap text-center">
    <div class="container">
      <div class="download-title text-center">Buy &amp; Sell Marketplace &amp; Free Downloads</div>
      <div class="download-txt text-center">for <a href="#">3D Models <i></i></a>, <a href="#">3D Rigs<i></i></a>, <a href="#">Materials &amp; Shaders<i></i></a>, <a href="#">Textures<i></i></a> and more</div>
      <div class="clearfix download-gallery-wrap">
        <div class="col-md-3 col-sm-3 col-xs-12 marginB10 ColPad">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Enter a keyword..." >
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Download</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Category</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Sub Category</option>
          </select>
        </div>
        <strong>
        <div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Filter</option>
          </select>
        </div>
        </strong> </div>
      <div class="showcase-btn-wrap clearfix text-center">
        <button type="button" class="btn btn-default border-radius marginB10">Top Downloaded</button>
        <button type="button" class="btn btn-default border-radius marginB10">Top Sold</button>
        <button type="button" class="btn btn-default border-radius marginB10">Browse Latest Items</button>
      </div>
    </div>
  </section>

  <!-- Download Content Start -->
  <section class="clearfix browseallcompanies">
    <div class="clearfix wipwrap">
      <div class="wiptabs clearfix">
        <ul class="nav nav-pills">
          <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Download
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">3D Models</a></li>
              <li><a href="#">3D Painting Models</a></li>
              <li><a href="#">3D Rigs / Character Rigs</a></li>
              <li><a href="#">Brushes</a></li>
              <li><a href="#">Materials and Shaders</a></li>
              <li><a href="#">HDRI Images</a></li>
              <li><a href="#">Render Setups and Scene</a></li>
              <li><a href="#">2D Concepts / Blueprints</a></li>
              <li><a href="#">Animation Data</a></li>
              <li><a href="#">Scripts and Plugins</a></li>
              <li><a href="#">Tutorials</a></li>
              <li><a href="#">Templates</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">All</a></li>
              <li><a href="#">Animals</a></li>
              <li><a href="#">Architecture</a></li>
              <li><a href="#">Characters</a></li>
              <li><a href="#">Environment</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Furniture</a></li>
              <li><a href="#">Objects</a></li>
              <li><a href="#">Textures &amp; Materials</a></li>
              <li><a href="#">Vechicles</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sub Category
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('', 'all')" class="active featured-type-link"  id="featured-type-link-all">All</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('TRUE', 'yes')" class="featured-type-link"  id="featured-type-link-yes">Show Only Featured</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('FALSE', 'no')" class="featured-type-link"  id="featured-type-link-no">Show Without Featured</a></li>

               <input type="hidden" ng-model="viewFeaturedType" value=""> 

            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filter
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    
    <!-- User Followers Start -->
    <div class="container-fluid download-indent clearfix">
      <div class="container">


        <div class="clearfix downbox" ng-repeat="x in download_data">
          <div class="clearfix downtop">
            <h2>{{x.PostTypeCategory.name}}</h2>
            <a href="#" class="text-uppercase pull-right">view all</a> </div>
          <div class="clearfix">
            <ul>
              <li class="clearfix" ng-repeat="y in x.Download">
                <div class="downwrap"> 
                  <img lazy-img="<%= root_url %>{{ y.images.0.image.download_list.url }}" class="img-responsive download-img-height">
                </div>
                <div class="padding10 clearfix">
                  <div class="down-txt"><span>{{y.title}}</span> <span class="pull-right price-txt">${{y.price}}</span></div>
                  <div class="clearfix down-name">
                    <div class="pull-left">by <span class="price-txt1">{{y.is_admin == 'Y' ? 'Admin' : y.user.firstname + ' ' + y.user.lastname}}</span></div>
                    <div class="pull-right"> <span class="checkbox-btn">
                      <input type="checkbox" value="value-1" id="rc{{y.id}}">
                      <label for="rc{{y.id}}" onclick=""></label>
                      </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>  

        <div class="clearfix downbox text-center err-msg no-result" ng-hide="download_data.length" >No Result Found!</div>      
      
      </div>
    </div>
  </section>
</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>


<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularLazyImg"]);
  app.controller('myCtrl', function($scope, $http) {
      
    $scope.filter = function() {
        
        list_url = '/gallery/get_download_list?';

        if(typeof $scope.viewFeaturedType !== 'undefined' && $scope.viewFeaturedType != '' && $scope.viewFeaturedType != 'all'){
          list_url += '&is_feature=' + $scope.viewFeaturedType
        }

        $http.get(list_url).then(function (response) {
          $scope.download_data = response.data;
        });
    };
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');
      
      $scope.search = '';
      $scope.viewFeaturedType = value;
      $scope.filter();

    };
      
  });

  // main page angular app end

</script>