<!-- Join The Challange Page Start -->
<section class="searchpage clearfix">
  <div class="container">
    <h2>Search</h2>
    
    <div class="searchwrap clearfix">
     <form>
      <div class="form-group marginB40">
       <input class="form-control" placeholder="Search...">
      </div>
     </form>
     
     <div class="clearfix">
      <div class="pull-left marginR5 lightcolor paddinT10">Sort by</div>  <div class="pull-left marginL5 marginR5 pos-rel"><select class="custom-select">
               <option>Recent</option>
               <option>Like</option>
              </select></div> <div class="pull-left marginL5 lightcolor paddinT10"> <span class="checkbox-btn">
                <input type="checkbox" value="value-1" id="rc3" name="rc3" />
                <label for="rc3" onclick>Show project title and artist name </label>
                 </span> </div>
      
      
     </div>
     
    
    </div>
    
    
      
    
  </div>
</section>