<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="content clearfix">
      <div class="clearfix job-post-bread">
        <ul class="breadcrumb">
          <li><a href="jobs.html">Jobs</a></li>
          <li class="active">Create Project</li>
        </ul>
      </div>      
      <!-- User Followers Start -->
      <section class="clearfix jobswrap">
        <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">Add New Job</span> </div>
        <div class="jobpostindent clearfix col-sm-12 col-xs-12 padding">
          <div class="clearfix marginB15 jobpostbox border-radius">
            <ul>
              <li><a href="#"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Add Images</a></li>
              <li><a href="#"><i class="fa fa-film marginR5 blue-txt" aria-hidden="true"></i> Add Video</a></li>
              <li class="dropdown-toggle"><a href="#" data-toggle="dropdown"><i class="fa fa-codepen marginR5 blue-txt" aria-hidden="true"></i> Add 3D Model</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add Sketchfab Model</a></li>
                  <li><a href="#">Add Marmoset Viewer</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-file-video-o marginR5 blue-txt" aria-hidden="true"></i> Upload Video</a></li>
            </ul>
          </div>
          <div class="marginB15">
            <label class="marginB15">* Title</label>
            <input type="text" class="form-control from-input">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading padding"><%= image_tag("database/txt-job-post.jpg", :alt => "img",:class=>"img-responsive") %></div>
            <div class="panel-body">
              <textarea name="" cols="" rows="" class="form-control message-form"></textarea>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">More Details &amp; Address</div>
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Company Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-10">
                      <input type="text" class="form-control from-input" placeholder="Add new if company name not listed">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-2 text-center white-txt paddinT10">or</div>
                    <div class="col-md-5 col-sm-5 col-xs-12 txt13">
                      <input type="text" class="form-control from-input add-input" placeholder="">
                      <div class="add-txt pull-right"></div>
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-6 col-sm-6 col-xs-6">Job Type</label>
                    <label class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">Amount</label>
                    <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                      <select class="custom-select">
                        <option>Freelance</option>
                      </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-5 col-md-offset-1">
                      <input type="text" class="form-control from-input" placeholder="$100">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-2 text-center white-txt paddinT10">or</div>
                    <div class="col-md-2 col-sm-6 col-xs-5">
                      <input type="text" class="form-control from-input" placeholder="$200">
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Job Category</label>
                    <div class="col-md-12 col-sm-12 col-xs-12 marginB10">
                      <input type="text" class="form-control from-input">
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Application Email/URL</label>
                    <div class="col-md-12 col-sm-12 col-xs-10">
                      <input type="text" class="form-control from-input">
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Location of Company</label>
                    <div class="col-md-3 col-sm-6 col-xs-6 marginB10">
                      <select class="custom-select">
                        <option>Country</option>
                      </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 marginB10">
                      <select class="custom-select">
                        <option>City</option>
                      </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 marginB10">
                      <div class="checkbox-btn paddinT10">
                        <input type="checkbox" value="value-1" id="rc3" name="rc3"/>
                        <label for="rc3" onclick>Work Remotely</label>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 marginB10 padding">
                      <div class="checkbox-btn paddinT10">
                        <input type="checkbox" value="value-1" id="rc4" name="rc4"/>
                        <label for="rc4" onclick>Relocation Assistance</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Closing Date</label>
                    <div class="col-md-6 col-sm-6 col-xs-6 marginB10">
                      <select class="custom-select">
                        <option>04 July 2016</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Skills and expertise needed for job:</label>
                    <div class="col-md-8 col-sm-6 col-xs-6">
                      <input type="text" class="form-control from-input skill-input" placeholder="">
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">software expertise needed for job:</label>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <input type="text" class="form-control from-input">
                    </div>
                  </div>
                </div>
                <button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="clearfix marginB15">
                <input type="text" class="form-control from-input add-input1">
                <button type="button" class="green-btn addbtn">Add</button>
              </div>
              <div class="white-txt marginB15"><em>Separate tags with commas</em></div>
              <div class="blue-txt marginB15">Choose from the most used tags</div>
              <div class="checkbox-btn paddinT10">
                <input type="checkbox" value="value-1" id="rc5" name="rc5"/>
                <label for="rc5" onclick>Use from previous tags</label>
              </div>
              <div class="checkbox-btn paddinT10">
                <input type="checkbox" value="value-1" id="rc6" name="rc6"/>
                <label for="rc6" onclick>Feature this Post</label>
              </div>
            </div>
          </div>
        </div>
        <div class="aside col-sm-12 col-xs-12 padding">
          <div class="panel panel-default">
            <div class="panel-heading">Publish</div>
            <div class="panel-body">
              <div class="clearfix marginB15 row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <button class="lightbtn" type="button">Save Draft</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <button class="lightbtn" type="button">Preview</button>
                </div>
              </div>
              <div class="clearfix marginB15 status-link"> <i class="fa fa-key marginR5 lightcolor" aria-hidden="true"></i> Status : <strong>Draft</strong> <a href="#">Edit</a> </div>
              <div class="clearfix marginB15 status-link"> <i class="fa fa-eye marginR5 lightcolor" aria-hidden="true"></i> Visibility  : <strong>Public</strong> <a href="#">Edit</a> </div>
              <div class="clearfix marginB15 status-link"> <i class="fa fa-calendar marginR5 lightcolor" aria-hidden="true"></i> Publich : <strong>immediately</strong> <a href="#">Edit</a> </div>
              <div class="clearfix row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <button class="btn-link" type="button">Delete</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <button class="green-btn" type="button">Publish</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Company Logo</div>
            <div class="panel-body padding">
              <div class="marginB15">
                <center>
                  <%= image_tag("database/jobs-logo.png", :alt => "img",:class=>"img-responsive") %>
                </center>
              </div>
              <div class="clearfix marginB15 text-center project-btn">
                <div class="lightbtn"><i class="fa fa-crop marginR5 blue-txt" aria-hidden="true"></i> Crop</div>
                <div class="lightbtn"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Upload</div>
                <div class="lightbtn"><i class="fa fa-times marginR5 blue-txt" aria-hidden="true"></i> Remove custom thumbnail</div>
              </div>
              <div class="lightcolor txt12 marginB15 text-center">Drag and drop an image above to replace</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Visibility</div>
            <div class="panel-body">
              <div class="white-txt marginB15"> Where do you want this Job to show?</div>
              <div class="checkbox-btn marginB15">
                <input type="checkbox" value="value-1" id="rc7" name="rc7"/>
                <label for="rc7" onclick>CGMeetup.net/jobs</label>
              </div>
              <div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="rc8" name="rc8"/>
                <label for="rc8" onclick>My Website</label>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Albums</div>
            <div class="panel-body"> </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
