// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "bootstrap.css";
@import "bootsy";


iframe.wysihtml5-sandbox {
  margin-left: 20% !important;
}

label.label {
	color: #5E6469;
}

textarea.bootsy_text_area {
	margin-left: 20% !important;
}

.wysihtml5-toolbar a, .wysihtml5-toolbar a:link, .wysihtml5-toolbar a:visited {
	text-decoration: none;
}



// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
