// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
 @import "active_admin/mixins";
 @import "active_admin/base";
 @import "bootstrap.css";
 @import "bootsy";
 @import "active_admin_flat_skin";
 @import "font-awesome";
 @import "active_admin_datetimepicker";
 @import "chosen";
  

#wrapper .flashes .flash_notice{
	color: #3c763d;
	background-color: #dff0d8;
    border-color: #d6e9c6;
}



.pagination li{
	display: inline;
}
.pagination li.active a{
	color: #5ea3d3;
}



div.error-msg{
  color: #cc0000;
  font-size: 12px;
}


iframe.wysihtml5-sandbox {
  margin-left: 20% !important;
}

label.label {
	color: #5E6469;
}

textarea.bootsy_text_area {
	margin-left: 10% !important;
}

.wysihtml5-toolbar a, .wysihtml5-toolbar a:link, .wysihtml5-toolbar a:visited {
	text-decoration: none;
}

// Date Time Picker css
.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }
  dl {
    text-align: left;
    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }
    dd {
      margin: 0 10px 10px 40%;
    }
  }
  td {
    font-size: 90%;
  }
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-div {
  .ui_tpicker_unit_hide {
    display: none;
  }
  .ui_tpicker_time .ui_tpicker_time_input {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    border-bottom: solid 1px #555;
    width: 95%;
    &:focus {
      border-bottom-color: #aaa;
    }
  }
}

.ui-timepicker-rtl {
  direction: rtl;
  dl {
    text-align: right;
    padding: 0 5px 0 0;
    dt {
      float: right;
      clear: right;
    }
    dd {
      margin: 0 40% 10px 10px;
    }
  }
}

/* Shortened version style */

.ui-timepicker-div.ui-timepicker-oneLine {
  padding-right: 2px;
  .ui_tpicker_time, dt {
    display: none;
  }
  .ui_tpicker_time_label {
    display: block;
    padding-top: 2px;
  }
  dl {
    text-align: right;
    dd {
      display: inline-block;
      margin: 0;
      > div {
        display: inline-block;
        margin: 0;
      }
      &.ui_tpicker_minute:before, &.ui_tpicker_second:before {
        content: ':';
        display: inline-block;
      }
      &.ui_tpicker_millisec:before, &.ui_tpicker_microsec:before {
        content: '.';
        display: inline-block;
      }
    }
  }
  .ui_tpicker_unit_hide {
    display: none;
    &:before {
      display: none;
    }
  }
}

.ui-datepicker .ui-datepicker-header {
	height: 30px !important;
}
div.ui-datepicker-header {
	width: 97.5% !important;
}
.ui-datepicker table.ui-datepicker-calendar{
	top: -2px !important;
}
.ui-datepicker-buttonpane.ui-widget-content { display: none; }
.ui-timepicker-div { display: none; }

body.active_admin .input.just_datetime_picker input.just-datetime-picker-field {
  width: auto !important;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-date {
  margin-right: 2ex;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-time-hour {
  margin-right: 1ex;
}

body.active_admin .input.just_datetime_picker input.just-datetime-picker-time-minute {
  margin-left: 1ex;
}
.bootsy-upload-form.form-inline .input-group-btn input.btn-default { font-size: 12px; }

/* Custom CSS */

#site_title_image{
	padding-top:10px;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }



/* ************ CUSTOM CSS *************/

#active_admin_content {
  float: right;
  margin-bottom: 30px;
  width: 84% !important;
}

#header.header .header-item.tabs {
  overflow-x: hidden;
}

#header.header #tabs.header-item.tabs li a {
  color: #aeb3b5 !important;
  font-size: 14px;
  height: 31px;
  line-height: 25px;
  transition: all 0.3s ease 0s;
}

#header.header #tabs.header-item.tabs li {
  display: block;
  margin-bottom: 10px !important;
}
html #header ul.tabs > li {
  font-size: 12px;
  margin: 0;
}

html #header ul.tabs > li:hover > a, html #header ul.tabs > li.current > a {
  background: #e73c3c none repeat scroll 0 0;
  border-radius: 5px !important;
  color: white;
  display: block;
  margin-bottom: -10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0 !important;
}

html #header ul.tabs > li {
  font-size: 12px;
  margin: 0;
  min-height: 34px !important;
}

#filters_sidebar_section {
  display: none;
  position: fixed;
  right: 42%;
  top: 5%;
  width: 21%;
  z-index: 2000;
  overflow-y:auto;
  max-height:100%
}
 

html input[type="text"], html input[type="password"], html input[type="email"], html input[type="date"], html input[type="tel"], html input[type="number"], html button {
	height: 30px !important;
}


html form fieldset.inputs ol > li label {
  text-transform: capitalize;
}

.breadcrumb {
  text-transform: capitalize;
}


html form fieldset.inputs {
  clear: both;
}

#job_company_attributes_name{
	margin-left:32px;
	width:307px
}

#job_company_attributes_name_input{
margin-left:-187px
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width: 500px !important;
}

.chosen-container {
	width: 500px !important;
}

.label{
	font-size:12px
}

#user_available_from_input{
 clear:both
}

#gallery_software_used_input{
 clear:both
}

#gallery_status_input{
 clear:both
}
#job_closing_date_input{
	clear:both
}
#job_is_featured_input{
clear:both
}

#job_title_input{
clear:both;
}

#job_package_id_input{
	clear:both
}
#advertisement_status_input{
	clear:both
}

#main_sidebar_fb_page_name_input{
	clear:both
}

#home_sidebar_fb_page_name_input{
	clear:both
}
#home_sidebar_dp_includes_input{
	clear:both
}

#tutorial_status_input{
	clear:both
}

#tutorial_price_input{
clear:both

}

#news_status_input{
  clear:both
}

#news_price_input{
clear:both
}

#download_price_input{
clear:both
}

#download_status_input{
clear:both
}

#download_unwrapped_uv_input, #download_geometry_input{
	clear:both
}

#job_status_input{
clear:both

}


#job_apply_type_input{
	clear:both
}

#header #tabs {
height: 85vh;
}


