@media screen and (min-width:1920px) {
.userfollowerswrap .col-md-2{ width:auto;}
.notification-wrap { width:75%;}
.jobpostindent { width:83%;}
.content { width:91%;}
}
@media screen and (max-width:1350px) {
.userfollowers-indent li .img-responsive{ border:1px solid #333; width:100%; height:auto;}
.gallery-left { width: 70%;}
.notification-wrap { width:65%;}
.jobpostindent { width:72%;}
.content{  width: 87%;}
}
@media screen and (min-device-width: 999px) and (max-device-width: 1299px) and (orientation : landscape){
.gallery-left { width: 70.5%;}
.wiphome li { width: 29.9%; margin: 0 5px 10px; float: left; }
.userfollowers-indent li .followers-indent li { width:24%;}
.connectionfollowingwrap .innerleft { width:70%;}
.notificationwrap .notification-wrap { width:65%;}
.jobpostindent { width:72%;}
.innerleft .connect-profile { width:42%;}
.content{  width: 87%;}
.homeslider .HomeSlideLeft{ width:53%;}
.homeslider .HomeSlideRight { width:29%;}
}
@media screen and (max-width:1099px) {
header .navbar-header {float: none;}
header .navbar-left,.navbar-right { float: none !important;}
header .navbar-toggle { display: block;}
header .navbar-collapse { border-top: 1px solid transparent;  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
header .navbar-fixed-top { top: 0; border-width: 0 0 1px;}
header .navbar-collapse.collapse { display: none!important;}
header .navbar-nav { float: none!important; margin-top: 7.5px;}
header .navbar-nav>li { float: none; }
header .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px;}
header .collapse.in{ display:block !important;}
header .navbar-form .form-group { width:100%; display:block;}
header .navbar-form .form-control { width:100%; height:40px; display:block;}
.userprofile li { width:19.80%;}
.artist-social-info .list-inline > li { margin-bottom:10px;}
.artist-profile .artist-info{ padding-top:100px;}
.wipdetails-left { width:62%;}
.gallery-left{ margin-right:0%; overflow:hidden; width:65%;}
.gallery-right { width:35%; position:inherit; top:0}
.gallery-right::before{ display:none;}
.wip-indent li { width:24.90%;}
.wip-navigation-wrap .navbar-default .navbar-nav > li > a { padding:15px 8px;}
/* Jobs Page Css */
.jobs-wrap .jobs-content { width:55%;}
.jobs-wrap .jobs-location-right { width:24%;}
.artworkwrap li { width:19.90%;}
.location-txt-drop{ margin-right:auto;}
/* All Dashboard Css */
.content{  width: 84%;}
.connectionfollowingwrap .innerleft{ width:63%;}
.connectionfollowingwrap .aside { width:300px;}
.notificationwrap .notification-wrap{ width:60%;}
.jobpostindent{ width:65%;}
.innerleft .connect-profile { width:75%;}
.innerleft .connection-followers-indent { width:100%; margin-top:15px;}
.sidebar-left .navbar-nav > li > a { padding:10px 13px; font-size:13px;}
.notificationwrap .aside { width:39%;}
.emailwrap .panel-indent { min-height:350px;}
.allgallerypost-link, .allpostwrap{ display:none;}

.downbox li {
    margin: 0 1.1% 20px;
    width: 23.15%;
}


}
@media screen and (max-width:1023px) {
.angularjswrap li{ width:25%;}
.angularjswrap li.twopic { width:25%;}
.photos li{ width:46%; margin:0 2%;}
.categoriesbox li a { width:50%;}
.maincontent .aside .wiphome li{ width:28%;}
.wiptabs .nav-pills > li > a { border-radius: 0px; color: #fff; font-size: 18px; padding:10px 12px;}
.gallery-left{ margin-right:0%; overflow:hidden; width:100%;}
.gallery-right { width:100%; position:inherit; top:0}
.gallery-right::before{ display:none;}
.emailwrap .panel-indent { min-height:380px;}
.emailwrap .panel-top { min-height:65px; line-height:22px; font-size:14px;}
}
@media (max-width: 992px) {
header .navbar-header {float: none;}
header .navbar-left,.navbar-right { float: none !important;}
header .navbar-toggle { display: block;}
header .navbar-collapse { border-top: 1px solid transparent;  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
header .navbar-fixed-top { top: 0; border-width: 0 0 1px;}
header .navbar-collapse.collapse { display: none!important;}
header .navbar-nav { float: none!important; margin-top: 7.5px;}
header .navbar-nav>li { float: none; }
header .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px;}
header .collapse.in{ display:block !important;}
header .navbar-form .form-group { width:100%; display:block;}
header .navbar-form .form-control { width:100%; height:40px; display:block;}
/* User Profile */
.userprofile li{ width:32.85%;}
.usernavivation li.manage-left{ margin-left:0;}
/* Browse all wip page */
.wip-navigation-wrap .navbar-header {float: none;}
.wip-navigation-wrap .navbar-toggle {display: block; background:none; border:0px;}
.wip-navigation-wrap .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
.wip-navigation-wrap .navbar-collapse.collapse { display: none!important;}
.wip-navigation-wrap .navbar-nav { float: none!important; margin:0 -15px;}
.wip-navigation-wrap .navbar-nav>li { float: none;}
.wip-navigation-wrap .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px;}
.wip-navigation-wrap .navbar-text { float: none; margin: 15px 0;}
.wip-navigation-wrap .navbar-collapse.collapse.in {display: block!important;}
.wip-navigation-wrap .collapsing { overflow: hidden!important;}
.wip-navigation-wrap .navbar-default .navbar-nav > li > a { padding:10px;}
.sidebar-left{width:45px;}
.sidebar-left::after {width: 45px;}
.content{ width: 93%;}
}
@media screen and (max-width:979px) { 
.gallery-left .downloadwrap { top:80%;}
.wip-indent li {width:33.20%;}
/* User Profile */
.usernavivation .nav-pills > li > a { padding:17px 9px;}
.usernavivation li.manage-btn a { padding:6px 12px;}
.from-input{ width:80%;}
.user-profile-wrap{ width:90%; bottom:10px; left:15px;}
.userprofilewrapbg  .container { height:100%;}
/* User Like Page Css */
.userlikewrap li{ width:33.20%;}
.experience-wrap .lightbtn { width:100%; display:block;}
.production-wrap li span{ color:#fff; font-weight:600; width:auto; display:inline-block;}
.add-btn { text-align:center;}
/* User Followers */
.followers-indent{ margin-top:15px;}
/* User Followers Page Css */
.userfollowers-indent li .followers-indent li{ width:23.4%;}
.artist-profile .artist-masthead .artist-info .artist-info-texts { width:100%; margin-top:20px; text-align:left;}
.artist-profile .artist-masthead .artist-info .artist-social-info ul {margin-top: 30px;}
.artist-profile li { margin-bottom:10px;}
.userstatisticswrap .userview-title{ font-size:30px; line-height:30px;}
.userstatisticswrap .view-txt { line-height:normal; font-size:12px; padding:10px 0;}
.userstatisticswrap .viewbdr { border-right:0px;}
.userstatisticswrap .userstat-indent { padding-bottom:10px;}
/* WIP Details */
.wipdetails-left{ width:100%;}
.wipdetails-right { width:100%; position:inherit; top:25px;}
.gallery-left{ width:100%}
.gallery-right::before{ display:none; position:inherit;}
/* Jobs Page Css */
.jobs-wrap .jobs-content { width:50%;}
.jobs-wrap .jobs-location-right { width:29%;}
.videowrap li{ width:24.85%;}
.artworkwrap li { width:33%;}
.userfollowerswrap .col-md-2{ width:120px;}
/* All Dashboard Css */
.sidebar-left .navbar-nav{ margin:0px;}
.sidebar-left .nav > li > a{ padding:10px 12px;}
.connectionfollowingwrap .aside{ width:auto; margin-top:20px;}
.connectionfollowingwrap .innerleft{ width:100%;}
.notificationwrap .notification-wrap{ width:100%;}
.notificationwrap .jobpostindent{ width:100%;}
.innerleft .connect-profile { width:38%;}
.innerleft .connection-followers-indent { width:40%;}
.submenutabs-dashboard  .navbar-inverse .navbar-nav > li > a{ padding:10px 12px; font-size:13px;}
.notificationwrap .aside { width:100%; float:left;}
.jobpostindent{ width:100%;} 
.jobswrap .aside { width:100%;}
.HomeRightPic { width:85px;}
.HomeRightContent { width:50%;}
.google-home-ad{ margin:0px;}
.homeslider .HomeSlideLeft { margin-left:0px;}
.homeslider .HomeSlideRight { width:34%;}
.downbox li{ margin:0 1% 20px; width:48%; float:left;}
}
@media (min-width: 768px) {
.wip-navigation-wrap ul.nav li:hover > ul.dropdown-menu { display: block;}
.wip-navigation-wrap #navbar { text-align: center;}
header .navbar-inverse{ background:#151515; border-bottom: 1px solid #333;}
.reel-txt{ height:65px; font-size:12px;}
}
@media screen and (max-width:767px) {
.angularjswrap li{ width:33.33%;}
.angularjswrap li.twopic { width:33.33%;}
header .navbar-toggle { border:none;}
header .navbar-inverse .navbar-toggle:hover, header .navbar-inverse .navbar-toggle:focus{ background:none; margin-top:9px;}
header .navbar-inverse .navbar-toggle .icon-bar { background:#0d9fec;}
.profile { background:none; padding:10px 15px; text-align:left;}
.communitywrap  { text-align:center;}
.communitywrap .nav > li{ display:inline-block; }
.communitywrap .navbar-right li{ display:block;}
/* User Profile Page */
header .navbar-form{ box-shadow:none; margin-top:0px;}
.userprofile-wrap{ height:380px; background:image-url('database/user-profile.jpg') no-repeat center top fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.userprofilewrapbg{ height:380px;}
.userprofile-wrap .change-cover a{ display:table; float:none; margin:15px auto 15px;}
.userprofileleft h2 { margin-bottom:12px;}
.user-profile-wrap{ margin-top:10px;}
.user-profile-wrap .userboxpro{ width:150px; height:150px; float:none; margin:0 auto 15px;}
.user-profile-wrap .userprofileleft { padding:0; width:100%; text-align:center;}
.usersocialbox{ margin-top:10px; text-align:center;}
.usernavivation .dropdown-menu > li { display:block;}
.usernavivation .navbar-nav{ margin:0px;} 
.usernavivation .navbar-artist-profile { padding-left:0px;}
.usernavivation .navbar-default .navbar-nav > .active > a, .usernavivation .navbar-default .navbar-nav > .active > a:hover, .usernavivation .navbar-default .navbar-nav > .active > a:focus { background: #222;}
.usernavivation .navbar-default .navbar-nav > li > a { padding:10px; float:left;}
.usernavivation .navbar-default .navbar-nav > li > a{ padding:12.5px 10px;}
/* User Profile Top Section */
.artist-profile .artist-masthead .artist-info { padding-top:10px;}
.artist-profile .artist-masthead .artist-info .avatar { margin:0 auto 10px; float:initial; width:150px; height:150px; position:inherit;}
.artist-profile .artist-masthead .artist-info .artist-info-texts { width:100%; padding-left:0px;}
.artist-profile .artist-masthead .artist-info .artist-info-texts { margin-top:10px; text-align:center;}
.artist-profile .artist-masthead .artist-info .artist-info-texts .artist-name { font-size:22px;}
.artist-profile .artist-masthead .artist-info .artist-info-texts .artist-additional-info { line-height:30px;}
.artist-social-info{ display:none;}
.wipwrap{ text-align:center; padding:13px 15px 0;}
.wiptabs .nav-pills > li { display:inline-block; width:48%;}
.wiptabs .nav-pills > li a{ font-size:14px;}
.wiptabs .dropdown-menu{ width:100%; z-index:99;}
.wiphome li { width:29%;}
.showcase-wrap { padding:15px 0;}
.showcase-wrap .showcase-title { font-size:16px; line-height:normal; margin-bottom:10px;}
.showcase-wrap .showcase-txt { font-size:13px; margin-bottom:15px; line-height:22px;}
.downloadwrap .download-title { font-size:16px; line-height:normal; margin-bottom:10px;}
.downloadwrap .download-txt { font-size:13px; margin-bottom:15px; line-height:22px;}
.wip-gallery-wrap { margin-bottom:10px;}
.wip-navigation-wrap .navbar-nav > li{ display:inherit; float:left; width:100%; text-align:left;}
.wip-navigation-wrap .navbar-default .navbar-brand { display: inline; }
.wip-navigation-wrap .navbar-default .navbar-toggle .icon-bar { background-color: #03aef4; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background:none;}
.wip-navigation-wrap .navbar-default .navbar-nav .dropdown-menu > li > a {}
.wip-navigation-wrap .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: rgb(187, 187, 187); }
.wip-navigation-wrap .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { background-color:none; }
.wip-navigation-wrap .navbar-nav .open .dropdown-menu { border-bottom: 1px solid white; border-radius: 0; }
.wip-navigation-wrap .dropdown-menu { padding-left: 10px;}
.wip-navigation-wrap .dropdown-menu .dropdown-menu { padding-left: 20px; }
.wip-navigation-wrap .dropdown-menu .dropdown-menu .dropdown-menu { padding-left: 30px; }
.wip-navigation-wrap li.dropdown.open { border: 0px solid red; }
.wip-gallery-wrap { width:100%;}
.wip-navigation-wrap .navbar-nav .open .dropdown-menu { background:#222;}
.wip-navigation-wrap .navbar-nav .open .dropdown-menu > li > a, .wip-navigation-wrap .navbar-nav .open .dropdown-menu .dropdown-header { padding:7px 10px;}
.userappmobi{ padding-top:20px;}
.wip-navigation-wrap .navbar-collapse{ padding-left:15px; padding-right:15px;}
/* Jobs Page Css */
.jobs-wrap .jobs-post-left{ width:25%; margin-right:5%}
.jobs-wrap .jobs-content{ width:70%;}
.jobs-wrap .jobs-location-right{ width:100%; padding-top:20px; text-align:center; font-size:14px;}
.wip-indent li .like-wrap { width:100%;}
.wip-indent li .wip-by-txt { width:100%; padding-bottom:0px;}
.videowrap li{ width:49%;}
/* Join Page Css */
.jointhewrap { padding:15px 0;}
.jointhewrap h2{ font-size:22px; line-height:24px; margin-bottom:20px;}
.join-indent h3, .sponsors-wrap h4, .legalterms h4 { font-size:16px;}
.legaltermswrap p { font-size:13px; padding-bottom:10px;}
.legalterms .legaltermswrap { padding:10px;}
/* Challenges Post Page Css */
.challengewrap h2 { font-size:22px; line-height:22px; margin-bottom:10px;}
.challengewrap .chanllenge-newtxt { font-size:14px; line-height:22px;}
.chanl-indent .challenge-count{ margin-top:15px; font-size:24px; line-height:24px; margin-bottom:10px;}
.jointhechallenge .greenbtn { padding:10px; width:100%; text-align:center; font-size:15px;}
.challangewrapper { padding:0px;}
.challenge-briefing .ticket-txt{ font-size:14px;}
.post-title { font-size:14px; line-height:26px;}
.post-indent { padding:10px;}
.posts-txt { font-size:13px; line-height:20px;}
.challenge-home .col-md-3{ padding-right:15px; padding-left:15px;}
.challenge-home li { margin-bottom:15px;}
.challenge-profile img{ width:100%;}
.challenge-home .lightbtn { width:100%; display:block;}
/* All Dashboard Css */
.sidebar-left{width:38px;}
.sidebar-left::after {width: 38px;}
.sidebar-left .navbar-nav{ margin:0px;}
.sidebar-left .nav > li > a{ padding:10px 12px; font-size:15px;}
.sidebar-left .navbar-inverse .navbar-toggle{ margin:10px 5px 0 0; background:none; border:none; padding:5px;}
.sidebar-left .navbar-collapse { /*position:absolute !important; width:320px !important; z-index:99; background:#23282d;*/ display:block;}
.sidebar-left .navbar-inverse .navbar-nav > .active > a, .sidebar-left .navbar-inverse .navbar-nav > .active > a:hover, .sidebar-left .navbar-inverse .navbar-nav > .active > a:focus { background-image:none;}
.sidebar-left .navbar-nav .open .dropdown-menu{ background:#32373c; color:#fff; border-radius:0px; height:100%; z-index:999; position:inherit; width:250px;}
.sidebar-left .navbar-collapse::after { background: #23282d; content: ""; height: 100%; position: absolute; width: 360px;}
.sidebar-left .dropdown-menu{ position:relative; transition:all 0.2s ease-in-out; background:#32373c; width:250px; padding:0px; left:auto;}
.sidebar-left .navbar-inverse .navbar-nav > .open > a, .sidebar-left .navbar-inverse .navbar-nav > .open > a:hover, .sidebar-left .navbar-inverse .navbar-nav > .open > a:focus { background:#191e23;}
.content{ width: 88%; padding:10px;}
.submenutabs-dashboard { background:#222;}
.submenutabs-dashboard .navbar-inverse { background:none;}
.submenutabs-dashboard .navbar-inverse .navbar-brand { padding:15px 0 0 15px; font-size:14px; color:#fff;}
.submenutabs-dashboard .navbar-inverse .navbar-toggle{ margin:6px 10px 0 0;}
.submenutabs-dashboard .navbar-inverse .navbar-nav > .active > a, .submenutabs-dashboard .navbar-inverse .navbar-nav > .active > a:hover, .submenutabs-dashboard .navbar-inverse .navbar-nav > .active > a:focus { background:none;}
.submenutabs-dashboard .navbar-inverse  { padding:0px;}
.submenutabs-dashboard .navbar-inverse .navbar-collapse, .submenutabs-dashboard .navbar-inverse .navbar-form{ position:absolute; width:100%; background:#222; z-index:99;}
.submenutabs-dashboard .navbar-inverse .navbar-nav > li > a{ padding:10px 30px;}
.innerleft { padding:0px;} 
.innerleft .connect-profile { width:60%;}
.innerleft .connection-followers-indent { width:100%;}  
.noti-comment .notiright{ width:65%;}
.notification-heading .noti-title { font-size:16px; margin-bottom:5px;}
.jobpostbox{ border:0; background:none; display:inline-block;}
.jobpostbox li { float:left; border-left:0;}
.jobpostbox li:first-child{ border-left:0px;}
.jobpostbox li a{ padding:6px 10px; color:#fff; display:block; border:1px solid #5d5d5d; background:#222; margin:0 5px 5px 0; font-size:13px; border-radius:2px;}
.selectgallery li{ margin-bottom:15px;}
.reel-txt{ height:90px; font-size:12px;}
.usersettings .form-inline .form-group { width:100%;}
.usersettings .timezone .select-wrapper, .usersettings .timezone .select-wrapper select { background:#171717 image-url("dropdown.png") no-repeat 96% center;}
.editprofie .addnewcompany{ padding-top:0;}
.addnewcompany .lightbtn { width:80%}
.allgallerypostwrap .postcheck{ width:8%; float:left; padding:2px 1% 15px;}
.Allpostgallery li .AllGalleryCheck{ width:20%;}
.allgallerypostwrap .AllGalleryThumbnail{ width:70%; margin-bottom:10px;}
.allgallerypostwrap .AllGalleryTitle{ width:50%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryAuthor{ width:50%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryDate{ width:50%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryLike .draftbtn { width:50%;}
.allgallerypostwrap .AllGalleryLike{ width:50%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryLike .marginB15{ margin-bottom:7px !important}
.homeslider .HomeSlideLeft{ width:100%; margin:0px;}
.homeslider .HomeSlideRight { width:100%; margin:0px;}
.photos li { margin:0 3% 20px; width:44%;}
/* Donwload Page Css */
.downbox li { margin:0 0 15px; width:100%;}
}
@media screen and (max-width:639px) {

header .uploadbtn { margin:7px 15px 0; padding:10px 15px; text-align:left; width:90%;}
header .uploadbtn .caret{ float:right; margin-top:6px;}
header .navbar-inverse .navbar-nav > li > a{ padding:10px 15px;}
header .navbar-form .form-control{width:100%; height:42px;}
header .navbar-form{ height:64px;}
header .navbar-nav { float: none!important; margin-top: 0px; margin-bottom:0px;}
.google-home-ad { width:100%; margin:0px;}
.googlehomead .subscribebox { width:100%; padding:10px 0;}
header .navbar-collapse{ border:none; box-shadow:none; position:absolute; width:100%; z-index:999; background:#151515;}
.newswrap .news-view { margin-bottom:3px;}
.newswrap, .productbox { margin-bottom:20px; padding-bottom:10px;}
/* Pagination Css */
.pagination > li > a, .pagination > li > span { padding:5px 10px;}
.communitywrap .navbar-collapse{ border:none; box-shadow:none; position:absolute; width:100%; z-index:999; background:#000;}
.headervideo li{ float:left; width:33%; position:relative;}
.headervideo li a:hover .imghover{ background:image-url('video-small.png') center top no-repeat; width:20px; height:20px;}
.headervideo li .videowrap{ padding:3px 8px; height:auto; font-size:12px;}
.communitywrap .navbar-default .navbar-toggle{ border:1px solid #666;}
.photos li { width:45%; float:none; display:inline-block; margin:0 2% 10px; }
.photos .pro-title a { width:70%;}
.topartists li{ width:18.50%;}
.productbox h2, .newswrap h2{ padding-bottom:20px;}
.productbox h2 .viewbtn, .newswrap h2 .viewbtn { padding:3px 10px; text-align:center; line-height:18px;}
.gallery-left .downloadwrap { top:50%; left:40%;}
.gallerycomment .gallery-title { font-size:14px;}
.gallerycomment .share-txt { margin-bottom:15px;}
.gallerycomment .share-txt a { margin-right:11px;}
.sharewrap .socialbox a { margin-bottom:5px;}
.sharewrap .shareb .form-control, .sharewrap .embedb .form-control{ width:100%; font-size:16px; height:44px;}
 .allcommentwrap .comwrap .compright { width:80%;}
.wiptabs .nav-pills > li > a{ border-radius:0px; color:#fff; font-size:14px; padding-left:0px;}
.wipwrap form.form-search { width:100%;}
.wip-indent li {width:49.60%; margin-bottom:5px;}
/* Login popup */
.follow-loginwrap a, #login-popup .lightbtn { display:block; width:100%; margin:0 0 10px;}
.login-page { padding-top:30px;}
.login-page h2{ font-size:22px; padding-bottom:20px; line-height:normal;}
.login-page .login-txt{ font-size:18px; padding-bottom:30px; line-height:normal;}
/* User Profile Page */
.userprofile li{ width:49%;}
.userprofile-content { display:none;}
.userprofile li .userfollow{ font-size:14px;}
.usernavivation .nav-pills > li > a { padding:17px 3px;}
.usernavivation li.manage-btn a { padding:7px 15px; margin-left:15px;}
.from-input { width:80%;}
header .dropdown-menu > li > a { border-left:0px;}
/* User Like Page Css */
.userlikewrap li{ width:49.50%;}
.userprofileinfo .experience-txt{ padding-top:0px;}
.userprofileinfo .experience-wrap h3 { padding-top:0px;}
/* User Followers Page Css */
.userfollowers-indent li .followers-indent li{ width:24%;}
.userfollowers-indent .user-position-txt { line-height:18px; font-size:12px; margin-bottom:5px;}
.userfollowers-indent .blue-btn { margin-bottom:8px;}
.userfollowerswrap .aside { padding-top:20px;}
.userfollowers-indent .user-title { font-size:18px; margin-bottom:10px;}
/* User Profile Top Section */
 .wip-indent li .wip-small li{ width:38px; height:40px;}
.gallery-left .slick-prev a{ left: 10px; top: 9%; position:absolute; font-size:40px; color:#404040;}
.gallery-left .slick-next a{ right:10px; top:9%; position:absolute; font-size:40px; color:#404040;}
.wipdetails-right .followbtn, .wipdetails-right .greenbtn, .wipdetails-right .bluebtn{ width:45%; margin-bottom:15px;}
.showcase-btn-wrap .btn-success{ padding:5px 15px 6px; font-size:13px;}
.showcase-btn-wrap .btn-default{ padding:5px 15px 6px; font-size:13px;}
.artworkwrap li { width:49.65%;}
.filter-wrap .from-input { width:100%;}
.innerleft .connect-profile { width:100%; margin-top:10px;}
.usernavivation .nav-pills { padding-left:10px; padding-right:5px;}
.connectionfollowingwrap .nav-pills > li.paddinT10 { width:70%;}
.noti-comment .notiright{ width:55%;}
.Allpostgallery li .AllGalleryCheck{ width:20%;}
.allgallerypostwrap .AllGalleryThumbnail{ width:70%; margin-bottom:10px;}
.allgallerypostwrap .AllGalleryTitle{ width:100%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryAuthor{ width:100%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryDate{ width:100%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryLike .draftbtn { width:100%;}
.allgallerypostwrap .AllGalleryLike{ width:100%; padding:0 5% 10px;}
.allgallerypostwrap .AllGalleryLike .marginB15{ margin-bottom:7px !important}
.table-store-tab {  overflow: scroll;}
}
