


<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
    <div class="row-fluid">
        <div class="sidebar-left">
          <%= render 'layouts/navigation' %>
        </div>
        <div class="content clearfix">
          <div class="clearfix job-post-bread">
        
          </div>
          
          <!-- User Followers Start -->
            <section class="clearfix jobswrap">
                <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">Add New Coupon</span> </div>
                <div class="jobpostindent clearfix padding">
                  
                  <div class="panel panel-default">
                    <div class="panel-heading">Coupon Details</div>
                    <div class="panel-body">
                      <%= form_tag save_coupon_path, method: :post do  %>
                        <div class="row">
                          <div class="form-group clearfix">
                            <label class="col-md-12 col-sm-12 col-xs-12">Coupon Code</label>
                            <div class="col-md-6 col-sm-6 col-xs-10">
                              <input type="text" class="form-control from-input" name = "coupon_code" placeholder="Enter the coupon code">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2 text-center white-txt paddinT10"></div>
                         
                           
                          </div>
                          <div class="form-group clearfix">
                            <label class="col-md-6 col-sm-6 col-xs-6">Discount Type</label>
                            <label class="col-md-6 col-sm-6 col-xs-6">Discount Value</label>
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                                <select class="custom-select" name = "discount_type">
                                    <option value="Amount">Amount</option>
                                    <option value="Percent">Percent</option>
                                </select>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                                <input type="text" class="form-control from-input" name = "discount_value" placeholder="50">

                            </div>
                            
                          </div>
                          <div class="form-group clearfix">
                            <label class="col-md-6 col-sm-6 col-xs-6">Valid From</label>
                            <label class="col-md-6 col-sm-6 col-xs-6">Valid Till</label>
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                                <input type="text" class="form-control from-input" id= 'valid_from' name = "valid_from" placeholder="">

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                                <input type="text" class="form-control from-input" id="valid_till" name = "valid_to" placeholder="">

                            </div>
                            
                          </div>
                          <div class="form-group clearfix">
                            <label class="col-md-6 col-sm-6 col-xs-6">Status</label>
                            <label class="col-md-6 col-sm-6 col-xs-6">Number for Use</label>
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                                <select class="custom-select" name = "status" >
                                    <option value="TRUE">Active</option>
                                    <option value="FALSE">InActive</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB10">
                                <input type="text" class="form-control from-input" name = "no_of_use" placeholder="Enter the no. how many times a user can use this">
                            </div>
                          </div>
                           <div class="panel-body">
                                <button class="green-btn border-radius" type="submit"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
                            </div>
                        </div>
                        <!--<button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>-->
                      <% end %>
                    </div>
                  </div>
                </div>
               
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#valid_from').datetimepicker({

            startDate: '-0d',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            dateFormat: 'mm-dd-yy', 
            changeMonth: true,
            changeYear: true,
            yearRange: '-70:+10',
        });
        $('#valid_till').datetimepicker({

            startDate: '-0d',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            dateFormat: 'mm-dd-yy', 
            changeMonth: true,
            changeYear: true,
            yearRange: '-70:+10',
        });
    });
</script>