<div class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand hidden-md hidden-lg" href="#">All Artwork</a> 
      <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">All Artwork</a>
            <ul class="dropdown-menu">
              <li><a href="#">Popular Files</a></li>
              <li><a href="#">Featured Files</a></li>
              <li><a href="#">Top New Files</a></li>
              <li><a href="#">Follow Feed</a></li>
              <li><a href="#">Top Authors</a></li>
              <li><a href="#">Top New Authors</a></li>
              <li><a href="#">View All Categories</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">All Videos</a>
            <ul class="dropdown-menu">
              <li> <a href="#">Popular Items</a> </li>
              <li> <a href="#">All Items</a> </li>
              <li> <a href="#">Anatomy</a> </li>
              <li> <a href="#">Animals</a> </li>
              <li> <a href="#">Base Meshes</a> </li>
              <li> <a href="#">Buildings and Architecture</a> </li>
              <li> <a href="#">Clothes &amp; Accessories</a> </li>
              <li> <a href="#">Deco Objects</a> </li>
              <li> <a href="#">Design Elements</a> </li>
              <li> <a href="#">Electronics</a> </li>
              <li> <a href="#">Engines and Parts</a> </li>
              <li> <a href="#">Fantasy and Fiction</a> </li>
              <li> <a href="#">Food and Drinks</a> </li>
              <li> <a href="#">Furnishings</a> </li>
              <li> <a href="#">Humans</a> </li>
              <li> <a href="#">Music</a> </li>
              <li> <a href="#">Nature</a> </li>
              <li> <a href="#">Products</a> </li>
              <li> <a href="#">Science</a> </li>
              <li> <a href="#">Sports</a> </li>
              <li> <a href="#">Theme Packages</a> </li>
              <li> <a href="#">Tools</a> </li>
              <li> <a href="#">Toys and Games</a> </li>
              <li> <a href="#">Vehicles</a> </li>
              <li> <a href="#">Weapons and Armor</a> </li>
              <li> <a href="#">Miscellaneous</a> </li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Editor Picks</a>
            <ul class="dropdown-menu">
              <li><a href="#">Popular Files</a></li>
              <li><a href="#">Featured Files</a></li>
              <li><a href="#">Top New Files</a></li>
              <li><a href="#">Follow Feed</a></li>
              <li><a href="#">Top Authors</a></li>
              <li><a href="#">Top New Authors</a></li>
              <li><a href="#">View All Categories</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Concept Art</a>
            <ul class="dropdown-menu">
              <li><a href="#">All Items</a></li>
              <li><a href="#">Exterior</a></li>
              <li><a href="#">Interior</a></li>
              <li><a href="#">Sky</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Animation</a>
            <ul class="dropdown-menu">
              <li><a href="#">All Items</a></li>
              <li><a href="#">Exterior</a></li>
              <li><a href="#">Interior</a></li>
              <li><a href="#">Sky</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Making of</a>
            <ul class="dropdown-menu">
              <li> <a href="/popular_item/by_category?category=cg-textures">Popular Items</a> </li>
              <li> <a href="/category/cg-textures">All Items</a> </li>
              <li> <a href="/category/cg-textures/bones">Bones</a> </li>
              <li> <a href="/category/cg-textures/buildings">Buildings</a> </li>
              <li> <a href="/category/cg-textures/concrete">Concrete</a> </li>
              <li> <a href="/category/cg-textures/doors">Doors</a> </li>
              <li> <a href="/category/cg-textures/fabric">Fabric</a> </li>
              <li> <a href="/category/cg-textures/fauna">Fauna</a> </li>
              <li> <a href="/category/cg-textures/flora">Flora</a> </li>
              <li> <a href="/category/cg-textures/ground">Ground</a> </li>
              <li> <a href="/category/cg-textures/hdri-images">HDRI Images</a> </li>
              <li> <a href="/category/cg-textures/humans">Humans</a> </li>
              <li> <a href="/category/cg-textures/ice">Ice</a> </li>
              <li> <a href="/category/cg-textures/metal">Metal</a> </li>
              <li> <a href="/category/cg-textures/ornaments">Ornaments</a> </li>
              <li> <a href="/category/cg-textures/paper">Paper</a> </li>
              <li> <a href="/category/cg-textures/plaster">Plaster</a> </li>
              <li> <a href="/category/cg-textures/plastic">Plastic</a> </li>
              <li> <a href="/category/cg-textures/roads">Roads</a> </li>
              <li> <a href="/category/cg-textures/roofing">Roofing</a> </li>
              <li> <a href="/category/cg-textures/skies">Skies</a> </li>
              <li> <a href="/category/cg-textures/splatter">Splatter</a> </li>
              <li> <a href="/category/cg-textures/stone">Stone</a> </li>
              <li> <a href="/category/cg-textures/tiles">Tiles</a> </li>
              <li> <a href="/category/cg-textures/walls">Walls</a> </li>
              <li> <a href="/category/cg-textures/water">Water</a> </li>
              <li> <a href="/category/cg-textures/windows">Windows</a> </li>
              <li> <a href="/category/cg-textures/wood">Wood</a> </li>
              <li> <a href="/category/cg-textures/miscellaneous">Miscellaneous</a> </li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Vfx Breakdown</a>
            <ul class="dropdown-menu">
              <li> <a href="#">Popular Items</a> </li>
              <li> <a href="#">All Items</a> </li>
              <li> <a href="#">Anatomy</a> </li>
              <li> <a href="#">Animals</a> </li>
              <li> <a href="#">Base Meshes</a> </li>
              <li> <a href="#">Buildings and Architecture</a> </li>
              <li> <a href="#">Clothes &amp; Accessories</a> </li>
              <li> <a href="#">Deco Objects</a> </li>
              <li> <a href="#">Design Elements</a> </li>
              <li> <a href="#">Electronics</a> </li>
              <li> <a href="#">Engines and Parts</a> </li>
              <li> <a href="#">Fantasy and Fiction</a> </li>
              <li> <a href="#">Food and Drinks</a> </li>
              <li> <a href="#">Furnishings</a> </li>
              <li> <a href="#">Humans</a> </li>
              <li> <a href="#">Music</a> </li>
              <li> <a href="#">Nature</a> </li>
              <li> <a href="#">Products</a> </li>
              <li> <a href="#">Science</a> </li>
              <li> <a href="#">Sports</a> </li>
              <li> <a href="#">Theme Packages</a> </li>
              <li> <a href="#">Tools</a> </li>
              <li> <a href="#">Toys and Games</a> </li>
              <li> <a href="#">Vehicles</a> </li>
              <li> <a href="#">Weapons and Armor</a> </li>
              <li> <a href="#">Miscellaneous</a> </li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Illustration</a>
            <ul class="dropdown-menu">
              <li><a href="#">Popular Files</a></li>
              <li><a href="#">Featured Files</a></li>
              <li><a href="#">Top New Files</a></li>
              <li><a href="#">Follow Feed</a></li>
              <li><a href="#">Top Authors</a></li>
              <li><a href="#">Top New Authors</a></li>
              <li><a href="#">View All Categories</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Demoreel</a>
            <ul class="dropdown-menu">
              <li><a href="#">All Items</a></li>
              <li><a href="#">Exterior</a></li>
              <li><a href="#">Interior</a></li>
              <li><a href="#">Sky</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Matte Painting</a>
            <ul class="dropdown-menu">
              <li><a href="#">All Items</a></li>
              <li><a href="#">Exterior</a></li>
              <li><a href="#">Interior</a></li>
              <li><a href="#">Sky</a></li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Motion Graphics</a>
            <ul class="dropdown-menu">
              <li> <a href="/popular_item/by_category?category=cg-textures">Popular Items</a> </li>
              <li> <a href="/category/cg-textures">All Items</a> </li>
              <li> <a href="/category/cg-textures/bones">Bones</a> </li>
              <li> <a href="/category/cg-textures/buildings">Buildings</a> </li>
              <li> <a href="/category/cg-textures/concrete">Concrete</a> </li>
              <li> <a href="/category/cg-textures/doors">Doors</a> </li>
              <li> <a href="/category/cg-textures/fabric">Fabric</a> </li>
              <li> <a href="/category/cg-textures/fauna">Fauna</a> </li>
              <li> <a href="/category/cg-textures/flora">Flora</a> </li>
              <li> <a href="/category/cg-textures/ground">Ground</a> </li>
              <li> <a href="/category/cg-textures/hdri-images">HDRI Images</a> </li>
              <li> <a href="/category/cg-textures/humans">Humans</a> </li>
              <li> <a href="/category/cg-textures/ice">Ice</a> </li>
              <li> <a href="/category/cg-textures/metal">Metal</a> </li>
              <li> <a href="/category/cg-textures/ornaments">Ornaments</a> </li>
              <li> <a href="/category/cg-textures/paper">Paper</a> </li>
              <li> <a href="/category/cg-textures/plaster">Plaster</a> </li>
              <li> <a href="/category/cg-textures/plastic">Plastic</a> </li>
              <li> <a href="/category/cg-textures/roads">Roads</a> </li>
              <li> <a href="/category/cg-textures/roofing">Roofing</a> </li>
              <li> <a href="/category/cg-textures/skies">Skies</a> </li>
              <li> <a href="/category/cg-textures/splatter">Splatter</a> </li>
              <li> <a href="/category/cg-textures/stone">Stone</a> </li>
              <li> <a href="/category/cg-textures/tiles">Tiles</a> </li>
              <li> <a href="/category/cg-textures/walls">Walls</a> </li>
              <li> <a href="/category/cg-textures/water">Water</a> </li>
              <li> <a href="/category/cg-textures/windows">Windows</a> </li>
              <li> <a href="/category/cg-textures/wood">Wood</a> </li>
              <li> <a href="/category/cg-textures/miscellaneous">Miscellaneous</a> </li>
            </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>
            <ul class="dropdown-menu">
              <li> <a href="#">Popular Items</a> </li>
              <li> <a href="#">All Items</a> </li>
              <li> <a href="#">Anatomy</a> </li>
              <li> <a href="#">Animals</a> </li>
              <li> <a href="#">Base Meshes</a> </li>
              <li> <a href="#">Buildings and Architecture</a> </li>
              <li> <a href="#">Clothes &amp; Accessories</a> </li>
              <li> <a href="#">Deco Objects</a> </li>
              <li> <a href="#">Design Elements</a> </li>
              <li> <a href="#">Electronics</a> </li>
              <li> <a href="#">Engines and Parts</a> </li>
              <li> <a href="#">Fantasy and Fiction</a> </li>
              <li> <a href="#">Food and Drinks</a> </li>
              <li> <a href="#">Furnishings</a> </li>
              <li> <a href="#">Humans</a> </li>
              <li> <a href="#">Music</a> </li>
              <li> <a href="#">Nature</a> </li>
              <li> <a href="#">Products</a> </li>
              <li> <a href="#">Science</a> </li>
              <li> <a href="#">Sports</a> </li>
              <li> <a href="#">Theme Packages</a> </li>
              <li> <a href="#">Tools</a> </li>
              <li> <a href="#">Toys and Games</a> </li>
              <li> <a href="#">Vehicles</a> </li>
              <li> <a href="#">Weapons and Armor</a> </li>
              <li> <a href="#">Miscellaneous</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>