<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand hidden-md hidden-lg" href="#">All Item</a> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All Item</a></li>
          <li><a href="#">3D Models</a></li>
          <li><a href="#">Cars</a></li>
          <li><a href="#">HDRI Images</a></li>
          <li><a href="#">CG Textures</a></li>
          <li><a href="#">Materials &amp; Shaders</a></li>
          <li><a href="#">Base Meshes</a></li>
          <li><a href="#">Scripts &amp; Plugins</a></li>
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">more</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>