<div class="container">
	<div class="col-md-3 col-sm-6 col-xs-6 marginB5">
	<h2>CGMeetup</h2>
	<ul class="margin">
	<li class="lists"><a href="#">Gallery</a></li>
	<li class="lists"><a href="#">Forum</a></li>
	<li class="lists"><a href="#">Tutorials</a></li>
	<li class="lists"><a href="#">Downloads / Store</a></li>
	<li class="lists"><a href="#">Jobs</a></li>
	<li class="lists"><a href="#">Users</a></li>
	<li class="lists"><a href="#">News</a></li>
	<li class="lists"><a href="#">Resource</a></li>
	</ul>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6 marginB5">
	<h2>Features</h2>
	<ul class="margin">
	<li class="lists"><a href="#">Trending</a></li>
	<li class="lists"><a href="#">Editor Picks</a></li>
	<li class="lists"><a href="#">Latest</a></li>
	<li class="lists"><a href="#">Top Artists</a></li>
	<li class="lists"><a href="#">Top Companies</a></li>
	<li class="lists"><a href="#">Top Images</a></li>
	<li class="lists"><a href="#">Top Videos</a></li>
	<li class="lists"><a href="#">Top Wip / Wants Critique</a></li>
	<li class="lists"><a href="#">Top Downloads</a></li>
	<li class="lists"><a href="#">Top Pro</a></li>
	</ul>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 marginB5">
	<h2>Support</h2>
	<ul class="margin">
	<li class="lists"><a href="#">Helpdesk &amp; Customer Support</a></li>
	<li class="lists"><a href="#">Advertise</a></li>
	<li class="lists"><a href="#">FAQ</a></li>
	<li class="lists"><a href="#">About</a></li>
	<li class="lists"><a href="#">Sitemap</a></li>
	<li class="lists"><a href="#">RSS</a></li>
	<li class="lists"><a href="#">Contact Us</a></li>
	</ul>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 marginB5">
	<div class="facebook"><span class="leftsocial"><i class="fa fa-facebook" aria-hidden="true"></i></span> Facebook <span class="socialwrap pull-right">645,256</span></div>
	<div class="twitter"><span class="leftsocial"><i class="fa fa-twitter" aria-hidden="true"></i></span> Twitter <span class="socialwrap pull-right">645,256</span></div>
	<div class="googleplus"><span class="leftsocial"><i class="fa fa-google-plus" aria-hidden="true"></i></span> Google + <span class="socialwrap pull-right">645,256</span></div>
	<div class="subtext">Subscribe to our newsletter for weekly updates.</div>
	<div class="subscribewrap">
	<input type="email" placeholder="Email" class="subemail">
	<a href="#" class="subbtn pull-right text-center">Subscribe</a> </div>
	</div>
</div>
