<div class="text-center text-uppercase">
  <ul class="pagination">
	<li><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">Next</a></li>
	<li><a href="#">Last</a></li>
  </ul>
</div>
